# Identificação do participante

Preencha a célula abaixo com sua matrícula no formato F + 7 algarismos, sem dígito verificador.

Exemplo:

    chaveF = "F1234567"

In [189]:
chaveF = "F2255527"

# Desafio Engenharia de Dados

A Dipes precisa fazer o acompanhamento do cumprimento dos indicadores de algumas Unidades Estratégicas e solicitou à UAN o desenvolvimento de um dashboard. Os colegas da equipe de Dataviz identificaram a necessidade de <b>disponibilização de algumas bases de dados</b> para desenvolvimento do dashboard, principalmente para o acompanhamento das <b>Trilhas de Capacitação</b> das Unidades Estratégicas:

|PREFIXO|SIGLA|
|---|---|
|8008|DIREC|
|8556|DICRE|
|8559|DIPES|
|8593|DIGOV|
|9797|UCI|
|9880|DIMEP|
|9968|UAN|
|9973|DIEMP|

A equipe de Engenharia de Dados foi então acionada para preparação das bases de dados conforme abaixo detalhado.

<b>Dados essenciais:</b>
- acompanhamento do cumprimento do indicador de capacitação por matrícula dos funcionários das Diretorias alvo da análise
- acompanhamento do cumprimento por UOR das Unidades Estratégicas, contendo a Vice-Presidência jurisdicionante

Além disso, a equipe de Dataviz solicitou que a equipe de engenharia reunisse algumas informações úteis para análise e levantamento de insights, tais como:
- dados de função, escolaridade, idade, tempo de banco e estado civil de cada funcionário das dependências citadas.
- detalhamentos sobre a área dos cursos que os funcionários concluíram nos últimos 3 anos para identificação do perfil.

# Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio das soluções:**

- https://envio-academiabb.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione a Trilha Engenharia ao enviar.

**Nome do arquivo:** cada participante deverá baixar o presente arquivo e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- A trilha a qual a entrega se refere em letras minúsculas: engenharia

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: F1234567_engenharia.ipynb

    - Exemplo2: F1234567_engenharia_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 20/09/2024.

## Requerimentos de versões

Para construção do desafio em qualquer ambiente diferente do [labblite](https://labblite.bb.com.br/), deverão ser utilizadas as versões de biblioteca abaixo especificadas:

|Biblioteca|Versão|
|---|---|
|pandas|1.5.2 ou inferior|
|numpy|1.23.5 ou inferior|
|unidecode|1.3.8 ou inferior|
|pathlib|sem indicativo de versão|
|glob|sem indicativo de versão|

Essas versões são padrão no labblite, e você pode checar após importação da biblioteca por meio da instrução:
    
    print(nome_biblioteca. __version__)

Caso identifique a necessidade de utilização de alguma biblioteca diferente das listadas acima, entre em contato com a comissão organizadora para verificar a possibilidade de utilização no script, sob o risco de gerar erros durante a validação.

## Pode:

- Inserir células no notebook.

    Obs: as células adicionadas após a seção do Boletim de Soluções não surtirão efeitos para fins de validação dos resultados dos exercícios propostos.

- Fazer vários envios (tantos quantos forem necessários).

- Nas máquinas do Banco, desenvolver na plataforma [Labblite](https://labblite.bb.com.br/)

- O participante que optar por desenvolver no computador pessoal, poderá utilizar qualquer plataforma que permita a execução de scripts em Python, desde que atente para as versões das bibliotecas mencionadas na seção "Requerimentos de versões" acima especificada.
    
    Atenção: consulte as versões homologadas pelo Banco no aplicativo <b>BB Verifica Software</b> antes de instalar qualquer aplicativo nas máquinas corporativas.

## Não pode:

- Compartilhar arquivos/código, sob pena de desclassificação de todas as partes envolvidas.

- Alterar as bases de dados disponibilizadas. Os itens contidos na pasta “bases” devem permanecer inalterados quanto a:
    - Nome e tipo dos arquivos/pastas
    - Conteúdo
    - Estrutura das pastas iniciando em “bases”

- Descompactar os arquivos correspondentes às bases de dados. Os arquivos disponibilizados no formato .zip deverão ser lidos nesse mesmo formato.

- Gerar arquivos de qualquer formato durante a execução, com exceção daqueles gerados pelo Boletim de Soluções.

- Utilizar outros arquivos além dos disponibilizados no pacote do desafio do Eixo Temático Engenharia de Dados.

- Excluir ou alterar linhas do Boletim de Soluções (exceto quando explicitamente orientado pela comissão organizadora do Programa).

- Apresentar erros no código no momento da validação.

- O tempo total de execução do notebook não poderá exceder 2 minutos. 

- Importar bibliotecas no código enviado para validação. Caso necessite instalar bibliotecas durante o desenvolvimento da solução, as linhas deverão ser comentadas antes do envio, sob o risco de apresentar erros ou exceder o tempo de execução do notebook durante a validação dos exercícios.
    
    *Atenção:* as bibliotecas mapeadas estarão previamente instaladas no ambiente de execução da solução validadora. Caso identifique a necessidade de utilizar alguma biblioteca diferente das mencionadas na seção "Requerimentos de versões", entre em contato com a comissão organizadora para verificar a viabilidade de utilização.

## Geras para o Nome Físico das colunas

- Observe atentamente a documentação constante no enunciado de cada exercício, para evitar apontamentos nas verificações.

- A ordem dos atributos deverá ser obedecida na construção dos DataFrames.

- A nomenclatura de todos os campos dos DataFrames deverá seguir o padrão de nomenclatura do Banco, conforme consulta disponível no Glossário.

- O nome físico não deve conter espaços, devendo as abreviações ser separadas por “_”. 

- Todas as palavras do Nome Lógico deverão ser abreviadas, com exceção apenas das preposições (ex.: de, com, para, até, etc.).

- Ao consultar o Glossário, é importante atentar para a existência de palavras compostas, que devem ser abreviadas juntas.

## Demais recomendações/Orientações

- Leia atentamente o enunciado dos exercícios. Eventuais cálculos, formatações, filtros, transformações ou arredondamentos dos dados serão detalhados na descrição de cada atributo.

- Verifique o indicativo de nível de dificuldade e de ordem de solução dos exercícios, pois alguns têm como requisito a conclusão de algum exercício anterior na íntegra.

- Não se esqueça de salvar seu projeto! Sugerimos fazer vários versionamentos dos arquivos, para não correr riscos de perder alterações e para ter um backup, caso algo não saia como o planejado.

- Não se assuste com os apontamentos de erros durante o desenvolvimento dos exercícios. Observe as orientações e dicas para solucioná-los com maior assertividade.

- Ao fazer junção de tabelas, não se esqueça de conferir as quantidades de linhas e colunas das tabelas originais e tenha sempre em mente o seu objetivo antes de escolher o método de junção (interna, esquerda, direita ou total).

- Ao copiar variáveis, utilize preferencialmente o método copy() para evitar corromper as variáveis que serão utilizadas para conferência dos exercícios.

- Faça envios parciais, tantos quanto for necessário. Não há limite de quantidade de envios. O ideal é submeter seu notebook a cada exercício concluído, para evitar acúmulo de apontamentos na validação. 

- Execute o Notebook na íntegra antes de efetuar seus envios para testar o tempo de execução e a ocorrência de erros, mesmo que ainda não tenha finalizado todos os exercícios.

- Utilize o Boletim de Soluções ao final do Notebook Modelo para checar a existência das variáveis de cada exercício. Não se esqueça de informar a sua chave F (chaveF) na seção de Identificação. 

- Após execução na íntegra do seu notebook, visualize suas variáveis finais, aquelas que serão utilizadas para correção dos exercícios, para chegar eventuais alterações indesejadas nas variáveis. Exemplo:
    
        exercicio1.info()
        exercicio2.info()


**Atenção:** encorajamos a colaboração entre os participantes, porém sempre no sentido de ajudar os demais a chegarem à resposta, nunca respondendo diretamente às perguntas ou compartilhando os arquivos/código.

# Importar bibliotecas

Use esse espaço para importar as bibliotecas necessárias para execução do seu notebook.

Lembrando que eventuais instalações de bibliotecas durante o desenvolvimento deverão ser retiradas ou comentadas antes do envio.

In [190]:
# Atenção, somente descomente as células abaixo caso não esteja desenvolvendo no labblite
# após instalação, comente novamente as células

#!pip3 install --force-reinstall --user pandas==1.5.2
#!pip3 install --force-reinstall --user numpy==1.23.5
#!pip3 install --force-reinstall --user unidecode==1.3.8

In [191]:
# as celulas abaixo referem-se a instalação e importação de bibliotecas para desenvolvimento da solução
# favor não alterar esta célula sem antes consultar a comissão organizadora

try:
    import micropip 
    await micropip.install('pandas')
    import pandas as pd
    await micropip.install('unidecode')
    from unidecode import unidecode
    await micropip.install('numpy')
    import numpy as np
    import warnings
    warnings.filterwarnings("ignore")
    from pathlib import Path
    import glob
    
    mensagem = "Importações de bibliotecas executadas com sucesso"
except:
    try:
        import pandas as pd
        from unidecode import unidecode
        import numpy as np
        import warnings
        warnings.filterwarnings("ignore")
        from pathlib import Path
        import glob

        mensagem = "Importações de bibliotecas executadas com sucesso"
    except Exception as e:
        mensagem = f"{e.args[0]} \nImportações de bibliotecas não executada"
finally:
    print(mensagem)

Importações de bibliotecas executadas com sucesso

# Exercício 1 - Tabela de Vínculo entre as Unidades Organizacionais

<b>Nível de dificuldade:</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio1</b> com a tabela que contém o vínculo entre as UORs do Banco.

Na tabela abaixo especificamos as <b>informações descritivas</b> (nome, formato dos dados, etc.) dos atributos (colunas) que deverão constar no dataframe resultante:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional Vinculada|CD_UOR_VCLD|Int64|Código identificador de Unidade Organizacional (UOR) vinculada ou JURISDICIONADA.|N|VCL_UOR|CD_UOR_VCLD
|2|Código do Tipo de Vínculo|CD_TIP_VCL|Int64|Código identificador do Tipo de Vínculo ou JURISDIÇÃO utilizado para a vinculação entre Unidades Organizacionais.|N|VCL_UOR|CD_TIP_VCL
|3|Código da Unidade Organizacional Vinculadora|CD_UOR_VCLR|Int64|Código identificador da Unidade Organizacional vinculadora ou JURISDICIONANTE, conforme determinado Tipo de Vínculo ou jurisdição.|N|VCL_UOR|CD_UOR_VCLR
|4|Número do Intervalo de Nível Hierárquico|NR_ITVL_NVL_HRQO|Int64|Representa o intervalo de nível hierárquico entre a UOR Vinculada e a UOR Vinculadora. A partir deste atributo, é possível saber quantos níveis acima ou abaixo encontra-se uma UOR Vinculadora em relação à UOR Vinculada.|S|VCL_UOR|NR_ITVL_NVL_HRQO

Ao final do exerício, o resultado da consulta do cabeçado (<b>.head()</b>) do dataframe exercicio1 deverá seguir a estrutura abaixo exemplificada:

- código a ser executado:


    <i>exercicio1.head()</i>

- exemplo de resultado do código acima com valores fictícios:

||CD_UOR_VCLD|CD_TIP_VCL|CD_UOR_VCL|NR_ITVL_NVL_HRQO|
|---|---|---|---|---|
|0|9999|99|1111|&lt;NA&gt;|
|1|9999|101|2222|&lt;NA&gt;|
|2|9999|1100|3333|&lt;NA&gt;|
|3|9999|1200|4444|&lt;NA&gt;|
|34|9999|1220|5555|&lt;NA&gt;|

   
<b>Regra:</b> a ordem das colunas deverá obedecer à ordem da tabela de informações descritivas constante do enunciado.

<b>Dica 1:</b> verifique o <b>Vocabulário de Termos</b> anexo para saber mais sobre o termo <b>&lt;NA&gt;</b> e o tipo <b>Int64</b>.

<b>Dica 2:</b> os registros nulos somente deverão ser tratados quando expressamente orientado no enunciado do exercício.

In [192]:
exercicio1 = pd.read_csv('bases/VCL_UOR.csv', sep = ';')

In [193]:
exercicio1['CD_UOR_VCLD'] = exercicio1['CD_UOR_VCLD'].astype("Int64")
exercicio1['CD_TIP_VCL'] = exercicio1['CD_TIP_VCL'].astype("Int64")
exercicio1['CD_UOR_VCLR'] = exercicio1['CD_UOR_VCLR'].astype("Int64")
exercicio1['NR_ITVL_NVL_HRQO'] = exercicio1['NR_ITVL_NVL_HRQO'].astype("Int64")

In [194]:
exercicio1.head()

   CD_UOR_VCLD  CD_TIP_VCL  CD_UOR_VCLR  NR_ITVL_NVL_HRQO
0         9598          99         4924              <NA>
1         9598         101         9598              <NA>
2         9598        1060        38047              <NA>
3         9598        1090         7638              <NA>
4         9598        1100         1993              <NA>

# Exercício 2 - Tabela de Unidades Organizacionais (UOR) do BB

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio2</b> com a tabela UORs do BB, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Unidade Organizacional|CD_UOR|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|UOR|CD_UOR
|2|Nome da Unidade Organizacional Reduzido|NM_UOR_RDZ|object|Nome reduzido da Unidade Organizacional.|N|UOR|NM_UOR_RDZ
|3|Sigla da Unidade Organizacional|SG_UOR|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|UOR|SG_UOR
|4|Data Início de Validade|DT_INC_VLD|datetime64[ns]|Data em que o registro passa a ter validade (geralmente coincide com a data de inclusão).  Formato "AAAA-MM-DD".|N|UOR|DT_INC_VLD
|5|Código do Item da Arquitetura da Unidade Organizacional|CD_ITEM_AQTT_UOR|Int64|Código identificador dos Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|N|UOR|CD_ITEM_AQTT_UOR
|6|Código do Tipo da Unidade Organizacional|CD_TIP_UOR|Int64|Código identificador dos Tipos nos quais as Unidades Organizacionais podem ser classificadas. Ex.: "001 - Governo" "003 - Canal de Atendimento",  "004 - Dependências BB",  "005 - Exterior" etc. |N|UOR|CD_TIP_UOR
|7|Código da Dependência da Unidade Organizacional|CD_DEPE_UOR|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.Ex.: "0001 - Ag. Rio de Janeiro", "4886 - Ag. Estilo Alvorada-Brasília"|N|UOR|CD_DEPE_UOR
|8|Número da Ordem da Dependência Subordinada|NR_ORD_DEPE_SBDD|Int64|Número identificador de subordinação de uma dependência de IOR's que possuam em sua organização subdependências ou subordinadas. 0 indica a UOR principal da dependência|N|UOR|NR_ORD_DEPE_SBDD

<b>Regra 1:</b> considere apenas as UORs da Instituição Organizacional "Banco do Brasil".

<b>Regra 2:</b> considere apenas as UORs "em funcionamento".

<b>Dica: </b>atenção para o formato da data.

In [195]:
uor01 = pd.read_csv('bases/UOR/uor01.zip')
uor02 = pd.read_csv('bases/UOR/uor02.zip')
uor03 = pd.read_csv('bases/UOR/uor03.zip')
uor04 = pd.read_csv('bases/UOR/uor04.zip')
uor05 = pd.read_csv('bases/UOR/uor05.zip')
uor06 = pd.read_csv('bases/UOR/uor06.zip')
uor07 = pd.read_csv('bases/UOR/uor07.zip')
uor08 = pd.read_csv('bases/UOR/uor08.zip')
uor09 = pd.read_csv('bases/UOR/uor09.zip')
uor10 = pd.read_csv('bases/UOR/uor10.zip')
uor11 = pd.read_csv('bases/UOR/uor11.zip')
uor12 = pd.read_csv('bases/UOR/uor12.zip')

In [196]:
lista_uor = [uor01, uor02, uor03, uor04, uor05, uor06, uor07, uor08, uor09, uor10, uor11, uor12]
df_ini = pd.concat(lista_uor)
df_pre = df_ini.query('CD_IOR == 1 & CD_EST_UOR == 2')

In [197]:
exercicio2 = pd.DataFrame()
exercicio2['CD_UOR'] = df_pre['CD_UOR']
exercicio2['NM_UOR_RDZ'] = df_pre['NM_UOR_RDZ']
exercicio2['SG_UOR'] = df_pre['SG_UOR']
exercicio2['DT_INC_VLD'] = df_pre['DT_INC_VLD']
exercicio2['CD_ITEM_AQTT_UOR'] = df_pre['CD_ITEM_AQTT_UOR']
exercicio2['CD_TIP_UOR'] = df_pre['CD_TIP_UOR']
exercicio2['CD_DEPE_UOR'] = df_pre['CD_DEPE_UOR']
exercicio2['NR_ORD_DEPE_SBDD'] = df_pre['NR_ORD_DEPE_SBDD']

In [198]:
exercicio2['CD_UOR'] = exercicio2['CD_UOR'].astype('Int64')
exercicio2['DT_INC_VLD'] = pd.to_datetime(exercicio2['DT_INC_VLD'], dayfirst = True)
exercicio2['CD_ITEM_AQTT_UOR'] = exercicio2['CD_ITEM_AQTT_UOR'].astype('Int64')
exercicio2['CD_TIP_UOR'] = exercicio2['CD_TIP_UOR'].astype('Int64')
exercicio2['CD_DEPE_UOR'] = exercicio2['CD_DEPE_UOR'].astype('Int64')
exercicio2['NR_ORD_DEPE_SBDD'] = exercicio2['NR_ORD_DEPE_SBDD'].astype('Int64')
exercicio2.head()

,CD_UOR,NM_UOR_RDZ,SG_UOR,DT_INC_VLD,CD_ITEM_AQTT_UOR,CD_TIP_UOR,CD_DEPE_UOR,NR_ORD_DEPE_SBDD
0,1,RIO,NaN,1936-05-02,54,4,1,0
2,3,MANAUS,NaN,1908-01-14,54,4,2,0
3,4,PRESIDENTE VARGAS,NaN,1908-07-01,54,4,3,0
4,5,SANTOS,NaN,1908-08-22,54,4,4,0
6,7,CAMPOS GOYTACAZES,NaN,1910-06-26,54,4,5,0

# Exercício 3 - Tabela de cursos realizados por funcionário

<b>Nível de dificuldade (1 a 5):</b> 1

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio3</b> com a tabela dos cursos realizados pelos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula do funcionário. |N|?|?|
|2|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|3|Data final do curso|?|datetime64[ns]|Data que identifica a finalizaçao do curso. Formato "AAAA-MM-DD".|N|?|?|
|4|Codigo de origem do curso|?|Int64|O conteudo deste campo indentificara a origem do curso. Exemplo: 01-ARH, 02-GTD, 03-PFP, 04-ALURA, 05-UNIBB, 17-SYNAPSE|N|?|?|

<b>Dica 1:</b> para construir o nome físico das tabelas, consulte as abreviações no Glossário de Termos.

<b>Dica 2:</b> atenção para o formato da matrícula.

In [199]:
cso_sis01 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis01.zip')
cso_sis02 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis02.zip')
cso_sis03 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis03.zip')
cso_sis04 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis04.zip')
cso_sis05 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis05.zip')
cso_sis06 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis06.zip')
cso_sis07 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis07.zip')
cso_sis08 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis08.zip')
cso_sis09 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis09.zip')
cso_sis10 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis10.zip')
cso_sis11 = pd.read_csv('bases/CSO_PSS_ITSE_SIS/cso_pss_itse_sis11.zip')

In [200]:
lista_cso_sis = [cso_sis01, cso_sis02, cso_sis03, cso_sis04, cso_sis05, cso_sis06, cso_sis07, cso_sis08, cso_sis09, cso_sis10, cso_sis11]
exercicio3 = pd.concat(lista_cso_sis)

In [201]:
exercicio3['MATRICULA'] = exercicio3['MATRICULA'].str[1:].astype('Int64')
exercicio3['CD_CSO'] = exercicio3['CD_CSO'].astype("Int64")
exercicio3['DT_FIM_CSO'] = pd.to_datetime(exercicio3['DT_FIM_CSO'])
exercicio3['CD_OGM_CSO'] = exercicio3['CD_OGM_CSO'].astype('Int64')

In [202]:
exercicio3.columns = ['CD_MTC_FUN', 'CD_CSO', 'DT_FIM_CSO', 'CD_OGM_CSO']
exercicio3.head()

   CD_MTC_FUN  CD_CSO DT_FIM_CSO  CD_OGM_CSO
0     3066439     127 2008-04-04           4
1     3066439     350 2012-05-18           4
2     3066439     569 2013-10-22           4
3     3066439     828 2016-10-07           4
4     3066439    1251 2013-11-13           4

# Exercício 4 - Tabela de cadastro dos funcionários

<b>Nível de dificuldade (1 a 5):</b> 2

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio4</b> com a tabela de cadastro dos funcionários, conforme detalhado abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|CAD_FUN|?
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|CAD_FUN|?
|3|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|CAD_FUN|?
|4|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|CAD_FUN|?
|5|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|CAD_FUN|?
|6|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|CAD_FUN|?
|7|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|CAD_FUN|?
|8|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |N|CAD_FUN|?
|9|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|CAD_FUN|?
|10|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|CAD_FUN|?

<b>Dica:</b> atenção para a formatação do nome.

In [203]:
exercicio4 = pd.read_csv('bases/CAD_FUN.csv')

In [204]:
exercicio4.columns = ['CD_MTC_FUN', 'NM_FUN', 'SG_TIP_EST_CVL', 'CD_TIP_NVL_ITC', 'DT_NSC', 'CD_TIP_GNR', 'CD_PRF_DEPE_LCZC', 'CD_FUC_CRG_EFT', 'DT_PSSE_LCZC', 'DT_PSSE_BB']
exercicio4['DT_NSC'] = exercicio4['DT_NSC'].astype(str)
exercicio4['DT_NSC'] = exercicio4['DT_NSC'].apply(lambda x: '0'+x if len(x) == 7 else x)
exercicio4['DT_NSC'] = exercicio4['DT_NSC'].apply(lambda x: x[0] + x[1] + '-' + x[2] + x[3] + '-' + x[4] + x[5] + x[6] + x[7])

In [205]:
exercicio4['CD_MTC_FUN'] = exercicio4['CD_MTC_FUN'].astype('Int64')
exercicio4['CD_TIP_NVL_ITC'] = exercicio4['CD_TIP_NVL_ITC'].astype('Int64')
exercicio4['DT_NSC'] = pd.to_datetime(exercicio4['DT_NSC'], dayfirst = True)
exercicio4['CD_TIP_GNR'] = exercicio4['CD_TIP_GNR'].astype('Int64')
exercicio4['CD_PRF_DEPE_LCZC'] = exercicio4['CD_PRF_DEPE_LCZC'].astype('Int64')
exercicio4['CD_FUC_CRG_EFT'] = exercicio4['CD_FUC_CRG_EFT'].astype('Int64')
exercicio4['DT_PSSE_LCZC'] = pd.to_datetime(exercicio4['DT_PSSE_LCZC'])
exercicio4['DT_PSSE_BB'] = pd.to_datetime(exercicio4['DT_PSSE_BB'])

In [206]:
exercicio4['NM_FUN'] = exercicio4['NM_FUN'].astype(str)
exercicio4['NM_FUN'] = exercicio4['NM_FUN'].apply(lambda x: x.upper())
exercicio4['NM_FUN'] = exercicio4['NM_FUN'].apply(lambda x: unidecode(x))
exercicio4['NM_FUN'] = exercicio4['NM_FUN'].astype('object')

# Exercício 5 - Incremento da tabela de cadastro de funcionários

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Requisitos:</b> exercício 4

Criar um DataFrame Pandas chamado <b>exercicio5</b> contendo os campos adicionais do cadastro do funcionários, conforme abaixo detalhado:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Codigo de matricula do funcionario|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Nome do funcionário|?|object|Nome do funcionário cadastrado no ARH. Formato: caixa alta, sem acentuação.|N|?|?|
|3|Código de Função ou Cargo Efetiva|?|Int64|Código ARH da função ou cargo efetivo. Exemplo: 610, 12381, etc. |N|?|?|
|4|Nome da Função ou Cargo Efetivo|?|object|Nome da função ou cargo efetivo. Exemplo: 610 - ESCRITURARIO, 12381 - ASSESSOR II UE etc. |S|?|?|
|5|Código do Prefixo da Dependência de Localização|?|Int64|Código do prefixo da dependência de localização (UOR). |N|?|?|
|6|Data de Posse na Localização|?|datetime64[ns]|Data de posse na dependência de localização (UOR).  Formato "AAAA-MM-DD".|N|?|?|
|7|Data de posse no BB|?|datetime64[ns]|Data de posse no Banco do Brasil. Formato "AAAA-MM-DD".|N|?|?|
|8|Data de nascimento|?|datetime64[ns]|Data de nascimento. Formato "AAAA-MM-DD".|N|?|?|
|9|Código do Tipo de Gênero|?|Int64|Código ARH do sexo/gênero. 1 -Masculino, 2 - Feminino.|N|?|?|
|10|Sigla do Tipo do Estado Civil|?|object|Sigla ARH que define o estado civil do funcionário. |N|?|?|
|11|Nome do Tipo de Estado Civil|?|object|Descrição do estado civil do funcionário. |N|?|?|
|12|Código do Tipo de Nível de Instrução|?|Int64|Código ARH do nível de instrução. |N|?|?|
|13|Nome do Tipo de Nível de Instrução|?|object|Descrição do nível de instrução. |N|?|?|

<b>Regra 1:</b> para a descrição do estado civil, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|SOLTEIRO(A)|
|2|CASADO(A)|
|3|CASADO(A) COM FUNCIONARIA(O)|
|4|VIUVO(A)|
|5|SEPARADO(A) JUDICIAL OU EXTRAJ|
|8|DIVORCIADO(A)|
|M|SEPARADO(A) CONSENSUALMENTE|

<b>Regra 2:</b> para a descrição do nível de instrução, considere os valores abaixo:

|Cod.|Descrição|
|---|---|
|1|ENSINO FUNDAMENTAL|
|2|ENSINO MEDIO|
|3|SUPERIOR EM ANDAMENTO|
|4|SUPERIOR SEQUENCIAL|
|5|SUPERIOR GRADUACAO|
|6|POS-GRADUACAO-APERFEIC|
|7|POS-GRADUCAO-ESPEC|
|8|MESTRADO|
|9|DOUTORADO|

In [207]:
nome_cargo = pd.read_csv('bases/FUC_FUN.csv')

In [208]:
exercicio5 = pd.DataFrame()
exercicio5['CD_MTC_FUN'] = exercicio4['CD_MTC_FUN'].copy()
exercicio5['NM_FUN'] = exercicio4['NM_FUN'].copy()
exercicio5['CD_FUC_CRG_EFT'] = exercicio4['CD_FUC_CRG_EFT'].copy()

In [209]:
exercicio5 = exercicio5.merge(nome_cargo, how = 'left', left_on = 'CD_FUC_CRG_EFT', right_on = 'CD_FUC_FUN')
exercicio5.drop(columns = 'CD_FUC_FUN', inplace = True)
exercicio5.rename(columns={'NM_FUC_FUN': 'NM_FUC_CRG_EFT'}, inplace=True)

In [210]:
exercicio5['CD_PRF_DEPE_LCZC'] = exercicio4['CD_PRF_DEPE_LCZC'].copy()
exercicio5['DT_PSSE_LCZC'] = exercicio4['DT_PSSE_LCZC'].copy()
exercicio5['DT_PSSE_BB'] = exercicio4['DT_PSSE_BB'].copy()
exercicio5['DT_NSC'] = exercicio4['DT_NSC'].copy()
exercicio5['CD_TIP_GNR'] = exercicio4['CD_TIP_GNR'].copy()
exercicio5['SG_TIP_EST_CVL'] = exercicio4['SG_TIP_EST_CVL'].copy()

In [211]:
exercicio5['NM_TIP_EST_CVL'] = exercicio5['SG_TIP_EST_CVL'].apply(lambda x: 'SOLTEIRO(A)' if x == '1' else 'CASADO(A)' if x == '2' else
                                                                 'CASADO(A) COM FUNCIONARIA(O)' if x == '3' else 'VIUVO(A)' if x == '4' else
                                                                 'SEPARADO(A) JUDICIAL OU EXTRAJ' if x == '5' else 'DIVORCIADO(A)' if x == '8' else
                                                                 'SEPARADO(A) CONSENSUALMENTE')

In [212]:
exercicio5['CD_TIP_NVL_ITC'] = exercicio4['CD_TIP_NVL_ITC'].copy()
exercicio5['NM_TIP_NVL_ITC'] = exercicio5['CD_TIP_NVL_ITC'].apply(lambda x: 'ENSINO FUNDAMENTAL' if x == 1 else 'ENSINO MEDIO' if x == 2 else
                                                                 'SUPERIOR EM ANDAMENTO' if x == 3 else 'SUPERIOR SEQUENCIAL' if x == 4 else
                                                                 'SUPERIOR GRADUACAO' if x == 5 else 'POS-GRADUACAO-APERFEIC' if x == 6 else
                                                                 'POS-GRADUCAO-ESPEC' if x == 7 else 'MESTRADO' if x == 8 else 'DOUTORADO')

# Exercício 6 - Tabela Catálogo de Cursos

<b>Nível de dificuldade (1 a 5):</b> 3

<b>Ordem:</b> qualquer

Criar um DataFrame Pandas chamado <b>exercicio6</b> contendo o catálodo de cursos e formações do Banco, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código do Curso|?|Int64|Identificador do curso. Campo numérico de 7 posições. |N|?|?|
|2|Nome do Curso|?|object|Nome genérico do curso. |N|?|?|
|3|Texto do Curso|?|object|Breve descrição do assunto abordado pelo curso. |N|?|?|
|4|Texto do Objetivo do Curso|?|object|Texto que descreve o objetivo do curso. |N|?|?|
|5|Texto do Desempenho Esperado|?|object|Texto que descreve o desempenho esperado no curso para o treinando. |S|?|?|
|6|Texto do Objetivo Estratégico|?|object|Texto que descreve quais são os objetivos estratégicos do curso. |S|?|?|
|7|Código da Área de Conhecimento|?|Int64|Código da área de conhecimento do curso. Campo numérico de 3. Exemplo: Área: 170 (Será este atributo) Subárea: 170.050 conhecimento: 170.050.0025.|S|?|?|
|8|Nome da Área de Conhecimento|?|object|Descrição da área de conhecimento do curso.|S|?|?|
|9|Código da Sub Área de Conhecimento|?|Int64|Código da sub-área do conhecimento. Exemplo: Área: 170 Subárea: 170.050 (Será o 050) conhecimento: 170.050.0025.|S|?|?|
|10|Nome da Sub Área de Conhecimento|?|object|Descrição da sub-área do conhecimento.|S|?|?|
|11|Código do Conhecimento do Curso|?|Int64|Código do conhecimento. Identifica o conhecimento do curso.|N|?|?|
|12|Nome do Conhecimento do Curso|?|object|Descrição do conhecimento do curso.|S|?|?|
|13|Quantidade de Carga Horária do Curso|?|Int64|Carga horária total do curso em horas|S|?|?|
|14|Código do Tipo da Formação Superior|?|Int64|Código identificador da formação superior. Ex:   35- Pós-Graduação;  36- Mestrado;  37- Doutorado. |S|?|?|
|15|Texto do Tipo da Formação Superior|?|object|Descrição da formação superior. |S|?|?|
|16|Código da Modalidade do Curso|?|Int64|Indica o código da modalidade do curso. Sendo: 01 - Presencial; 02 - Auto-instrucional; 03 - Em serviço; 09 - A regularizar |N|?|?|
|17|Código do Nível do Curso|?|Int64|Identificador do tipo do nível do curso (enfoque de aprendizagem). Sendo: 01 - Fundamental; 02 - Instrumental; 03 - Estratégico; 04 - Acadêmico; 09 - A classificar. |N|?|?|
|18|Código da Natureza do Curso|?|Int64|Identificador da natureza do curso. 01 - Atualização; 02 - Formação; 03 - Aperfeiçoamento; 04 - Qualificação. |N|?|?|
|19|Código do Tipo de Origem do Curso|?|Int64|Código dos tipos de origem do curso. 01 - Desenvolvido pelo banco; 02 - Contratado no mercado; 03 - Em parceria |N|?|?|
|20|Código do Tipo de Público|?|Int64|Código dos tipos de público (participação) que o curso pode ter. Ex.: 1- Interno;  2- externo; 3- misto. |N|?|?|
|21|Indicador de Vigência do Curso|?|object|Indica a utilização do curso. Possíveis valores: "S" - (SIM) Em Linha; "N" - (NÃO) Fora de linha |N|?|?|
|22|Indicador de Trilha de Estratégica|?|object|Indica se o curso faz parte da Trilha de Estratégica de Capacitação. Possíveis valores: "S" - (SIM); "N" - (NÃO)|N|?|?|
|23|Nome da Etapa|?|object|Descrição do tema da etapa de capacitação para os cursos que fazem parte da Trilha Estratégica. Possíveis valores: ASG, NEGOCIOS, LIDERANCA, TRANSFORMACAO DIGITAL. Formato: caixa alta, sem acentuação.|S|?|?|

<b>Regra 1:</b> todas as colunas de texto devem ser formatadas conforme o padrão caixa alta e sem acento.

<b>Regra 2:</b> os registros das colunas de texto que contiverem nulos deverão permanecer nulos ao final das transformações.

<b>Regra 3:</b> excluir registros que atendam a alguma das regras abaixo:

- quando o Texto do Objetivo do Curso for igual a 'TESTE EDUCA' ou 'TESTE GTD' ou 'TESTE' ou 'TESTANDO' ou 'DADFAFD' ou 'SGASDG' ou 'NXYZ' ou 'R';
- quando o Texto do Objetivo do Curso for igual a 'A' e o Código da Área de Conhecimento for nulo;
- quando o Nome do Curso contiver 'EXCEL TESTE' ou 'TESTE DISCIPLINA' ou 'EXCLUIR' ou 'ALURA';
- quando o Nome do curso for contiver 'TESTE' e o Código da Área de Conhecimento for nulo, com exceção do curso 7740;
- quando o Nome do curso for contiver 'TESTE' e o Texto do Objetivo do Curso for igual a '.';
- quando o Texto do Curso contiver 'TESTE MATERIAL' ou 'TESTE GERAL'.
- quando o Nome do curso ou o Texto do Curso contiverem 'EXCLUIDO'.

In [213]:
curso1 = pd.read_csv('bases/CSO/cso01.zip')
curso2 = pd.read_csv('bases/CSO/cso02.zip')
curso3 = pd.read_csv('bases/CSO/cso03.zip')
lista_curso = [curso1, curso2, curso3]
curso = pd.concat(lista_curso)

In [214]:
curso['NM_CSO'] = curso['NM_CSO'].apply(lambda x: x.upper())
curso['NM_CSO'] = curso['NM_CSO'].apply(lambda x: unidecode(x))

curso['TX_CSO'] = curso['TX_CSO'].apply(lambda x: x.upper())
curso['TX_CSO'] = curso['TX_CSO'].apply(lambda x: unidecode(x))

curso['TX_OBJT_CSO'] = curso['TX_OBJT_CSO'].apply(lambda x: x.upper())
curso['TX_OBJT_CSO'] = curso['TX_OBJT_CSO'].apply(lambda x: unidecode(x))

curso['TX_DSMP_EPRO'] = curso['TX_DSMP_EPRO'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['TX_DSMP_EPRO'] = curso['TX_DSMP_EPRO'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))

curso['TX_OBJT_ESTG'] = curso['TX_OBJT_ESTG'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['TX_OBJT_ESTG'] = curso['TX_OBJT_ESTG'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))

curso['CD_CSO'] = curso['CD_CSO'].astype('Int64')

In [215]:
area_cnh = pd.read_csv('bases/AREA_CNH.csv')

In [216]:
cnh = pd.read_csv('bases/CNH.csv')

In [217]:
curso = curso.merge(cnh, how = 'left', left_on = 'CD_CNH_CSO', right_on = 'CD_CNH')

In [218]:
curso['CD_AREA_CNH'] = curso['CD_AREA_CNH'].astype('Int64')
area_cnh['CD_AREA_CNH'] = area_cnh['CD_AREA_CNH'].astype('Int64')
curso = curso.merge(area_cnh, how = 'left', left_on = 'CD_AREA_CNH', right_on = 'CD_AREA_CNH')

In [219]:
subarea = pd.read_csv('bases/SUB_AREA_CNH.csv')

In [220]:
curso['CD_SUB_AREA_CNH'] = curso['CD_SUB_AREA_CNH'].astype('Int64')
subarea['CD_SUB_AREA_CNH'] = subarea['CD_SUB_AREA_CNH'].astype('Int64')
subarea['CD_AREA_CNH'] = subarea['CD_AREA_CNH'].astype('Int64')
curso = curso.merge(subarea, how = 'left', left_on = ['CD_AREA_CNH', 'CD_SUB_AREA_CNH'], right_on = ['CD_AREA_CNH', 'CD_SUB_AREA_CNH'])

In [221]:
frm_sup = pd.read_csv('bases/TIP_FRMC_SUPR.csv')

In [222]:
curso['CD_TIP_FRMC_SUPR'] = curso['CD_TIP_FRMC_SUPR'].astype('Int64')
frm_sup['CD_TIP_FRMC_SUPR'] = frm_sup['CD_TIP_FRMC_SUPR'].astype('Int64')
curso = curso.merge(frm_sup, how = 'left', left_on = 'CD_TIP_FRMC_SUPR', right_on = 'CD_TIP_FRMC_SUPR')

In [223]:
capacitacao = pd.read_csv('bases/lista_treinamentos.csv')

In [224]:
capacitacao['Código Educa'] = capacitacao['Código Educa'].astype('Int64')
curso = curso.merge(capacitacao, how = 'left', left_on = 'CD_CSO', right_on = 'Código Educa')

In [225]:
curso['IN_TRLA_ESTG'] = curso['Título'].apply(lambda x: 'N' if pd.isna(x) else 'S')
curso['Etapa'] = curso['Etapa'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['Etapa'] = curso['Etapa'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))

In [226]:
exercicio6 = pd.DataFrame()
exercicio6['CD_CSO'] = curso['CD_CSO'].copy()
exercicio6['NM_CSO'] = curso['NM_CSO'].copy()
exercicio6['TX_CSO'] = curso['TX_CSO'].copy()
exercicio6['TX_OBJT_CSO'] = curso['TX_OBJT_CSO'].copy()
exercicio6['TX_DSMP_EPRO'] = curso['TX_DSMP_EPRO'].copy()
exercicio6['TX_OBJT_ESTG'] = curso['TX_OBJT_ESTG'].copy()

exercicio6['CD_AREA_CNH'] = curso['CD_AREA_CNH']

curso['NM_AREA_CNH'] = curso['NM_AREA_CNH'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['NM_AREA_CNH'] = curso['NM_AREA_CNH'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))
exercicio6['NM_AREA_CNH'] = curso['NM_AREA_CNH']

exercicio6['CD_SUB_AREA_CNH'] = curso['CD_SUB_AREA_CNH']

curso['NM_SUB_AREA_CNH'] = curso['NM_SUB_AREA_CNH'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['NM_SUB_AREA_CNH'] = curso['NM_SUB_AREA_CNH'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))
exercicio6['NM_SUB_AREA_CNH'] = curso['NM_SUB_AREA_CNH']

curso['CD_CNH_CSO'] = curso['CD_CNH_CSO'].astype('Int64')
exercicio6['CD_CNH_CSO'] = curso['CD_CNH_CSO']

curso['NM_CNH'] = curso['NM_CNH'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['NM_CNH'] = curso['NM_CNH'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))
exercicio6['NM_CNH_CSO'] = curso['NM_CNH']

curso['CGHR_CSO'] = curso['CGHR_CSO'].astype('Int64')
exercicio6['QT_CGHR_CSO'] = curso['CGHR_CSO']

exercicio6['CD_TIP_FRMC_SUPR'] = curso['CD_TIP_FRMC_SUPR']

curso['TX_TIP_FRMC_SUPR'] = curso['TX_TIP_FRMC_SUPR'].apply(lambda x: np.NaN if pd.isna(x) else x.upper())
curso['TX_TIP_FRMC_SUPR'] = curso['TX_TIP_FRMC_SUPR'].apply(lambda x: np.NaN if pd.isna(x) else unidecode(x))
exercicio6['TX_TIP_FRMC_SUPR'] = curso['TX_TIP_FRMC_SUPR']

curso['CD_MDLD_CSO'] = curso['CD_MDLD_CSO'].astype('Int64')
exercicio6['CD_MDLD_CSO'] = curso['CD_MDLD_CSO']

curso['CD_NVL_CSO'] = curso['CD_NVL_CSO'].astype('Int64')
exercicio6['CD_NVL_CSO'] = curso['CD_NVL_CSO']

curso['CD_NTZ_CSO'] = curso['CD_NTZ_CSO'].astype('Int64')
exercicio6['CD_NTZ_CSO'] = curso['CD_NTZ_CSO']

curso['CD_TIP_OGM_CSO'] = curso['CD_TIP_OGM_CSO'].astype('Int64')
exercicio6['CD_TIP_OGM_CSO'] = curso['CD_TIP_OGM_CSO']

curso['CD_TIP_PBCO'] = curso['CD_TIP_PBCO'].astype('Int64')
exercicio6['CD_TIP_PBCO'] = curso['CD_TIP_PBCO']

exercicio6['IN_VGC_CSO'] = curso['IN_VGC_CSO']

exercicio6['IN_TRLA_ESTG'] = curso['IN_TRLA_ESTG']

exercicio6['NM_ETP'] = curso['Etapa']

In [227]:
drop1 = exercicio6.query('TX_OBJT_CSO == "TESTE EDUCA" | TX_OBJT_CSO == "TESTE GTD" | TX_OBJT_CSO == "TESTE" | TX_OBJT_CSO == "TESTANDO" | TX_OBJT_CSO == "DADFAFD" | TX_OBJT_CSO == "SGASDG" | TX_OBJT_CSO == "NXYZ" | TX_OBJT_CSO == "R"').index
exercicio6.drop(drop1, axis = 'index', inplace = True)

In [228]:
nulo_area = exercicio6['CD_AREA_CNH'].isnull()
drop2 = exercicio6[nulo_area].query('TX_OBJT_CSO == "A"').index
exercicio6.drop(drop2, axis = 'index', inplace = True)

In [229]:
drop3 = []
excel = exercicio6['NM_CSO'].str.contains('EXCEL TESTE')
drop3.extend(exercicio6[excel].index)

teste_disc = exercicio6['NM_CSO'].str.contains('TESTE DISCIPLINA')
drop3.extend(exercicio6[teste_disc].index)

excluir = exercicio6['NM_CSO'].str.contains('EXCLUIR')
drop3.extend(exercicio6[excluir].index)

alura = exercicio6['NM_CSO'].str.contains('ALURA')
drop3.extend(exercicio6[alura].index)

exercicio6.drop(drop3, axis = 'index', inplace = True)

In [230]:
nulo_area_cnh = exercicio6['CD_AREA_CNH'].isnull()
drop4 = exercicio6[nulo_area_cnh].query('NM_CSO.str.contains("TESTE") & CD_CSO != 7740').index
exercicio6.drop(drop4, axis = 'index', inplace = True)

In [231]:
drop5 = exercicio6.query('NM_CSO.str.contains("TESTE") & TX_OBJT_CSO == "."').index
exercicio6.drop(drop5, axis = 'index', inplace = True)

In [232]:
drop6 = exercicio6.query('TX_CSO.str.contains("TESTE MATERIAL") | TX_CSO.str.contains("TESTE GERAL")').index
exercicio6.drop(drop6, axis = 'index', inplace = True)

In [233]:
drop7 = exercicio6.query('NM_CSO.str.contains("EXCLUIDO") | TX_CSO.str.contains("EXCLUIDO")').index
exercicio6.drop(drop7, axis = 'index', inplace = True)
exercicio6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34322 entries, 2 to 34359
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_CSO            34322 non-null  Int64
 1   NM_CSO            34322 non-null  object
 2   TX_CSO            34322 non-null  object
 3   TX_OBJT_CSO       34322 non-null  object
 4   TX_DSMP_EPRO      33577 non-null  object
 5   TX_OBJT_ESTG      34315 non-null  object
 6   CD_AREA_CNH       34052 non-null  Int64
 7   NM_AREA_CNH       34050 non-null  object
 8   CD_SUB_AREA_CNH   34052 non-null  Int64
 9   NM_SUB_AREA_CNH   34052 non-null  object
 10  CD_CNH_CSO        34322 non-null  Int64
 11  NM_CNH_CSO        34052 non-null  object
 12  QT_CGHR_CSO       5295 non-null   Int64
 13  CD_TIP_FRMC_SUPR  28717 non-null  Int64
 14  TX_TIP_FRMC_SUPR  28717 non-null  object
 15  CD_MDLD_CSO       34322 non-null  Int64
 16  CD_NVL_CSO        34322 non-null  Int64
 17  CD_NTZ_CSO        34322 non-null  Int64
 18  CD_TIP_OGM_CSO    34322 non-null  Int64
 19  CD_TIP_PBCO       34322 non-null  Int64
 20  IN_VGC_CSO        34322 non-null  object
 21  IN_TRLA_ESTG      34322 non-null  object
 22  NM_ETP            89 non-null     object
dtypes: Int64(11), object(12)
memory usage: 5.1+ MB

# Exercício 7 - Nova tabela de UOR

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 1 e 2

Criar um DataFrame Pandas chamado <b>exercicio7</b> contendo as informações das UOR e Vice-Presidência jurisdicionante, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|S|?|?
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|S|?|?
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|S|?|?

<b>Regra:</b> considere apenas as UORs cujo Item de Arquitetura corresponda a "DIRETORIA" ou "UNIDADE".

<b>Dica:</b> atenção no momento de fazer a junção das tabelas de UOR e Vínculo de UOR. Lembrando que uma mesma dependência possui várias UORs além da principal. Consulte a documentação das tabelas.

In [234]:
arquitetura = pd.read_csv('bases/ITEM_AQTT_UOR.csv', sep = ';')

In [235]:
arquitetura['NM_ITEM_AQTT_UOR'].unique()
arquitetura.query('NM_ITEM_AQTT_UOR.str.contains("VICE-PRESIDENCIA")')

    CD_ITEM_AQTT_UOR                        NM_ITEM_AQTT_UOR
12                16    VICE-PRESIDENCIA

In [236]:
ex2 = exercicio2.copy()

In [237]:
ex1 = exercicio1.copy()

In [238]:
vice_pres = ex2.query('CD_ITEM_AQTT_UOR == 16')

In [239]:
ex2_selecionado = ex2.query('CD_ITEM_AQTT_UOR == 2 | CD_ITEM_AQTT_UOR == 3')

In [240]:
vice_pres_vinc = ex1.merge(vice_pres, how = 'inner', left_on = 'CD_UOR_VCLR', right_on = 'CD_UOR')

In [241]:
ex2_merge = ex2_selecionado.merge(vice_pres_vinc, how = 'left', left_on = 'CD_UOR', right_on = 'CD_UOR_VCLD')

In [242]:
ex2_merge.drop_duplicates(subset = 'CD_UOR_x', keep = 'first', inplace = True)

In [243]:
exercicio7 = pd.DataFrame()

In [244]:
exercicio7['CD_DEPE_UOR'] = ex2_merge['CD_DEPE_UOR_x']
exercicio7['CD_UOR'] = ex2_merge['CD_UOR_x']
exercicio7['SG_UOR'] = ex2_merge['SG_UOR_x']
exercicio7['NM_UOR_RDZ'] = ex2_merge['NM_UOR_RDZ_x']
exercicio7['CD_DEPE_VICE_PRSA'] = ex2_merge['CD_DEPE_UOR_y']
exercicio7['SG_VICE_PRSA'] = ex2_merge['SG_UOR_y']

In [245]:
exercicio7.drop_duplicates(subset = 'CD_DEPE_UOR', keep = 'first', inplace = True)
exercicio7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 89
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CD_DEPE_UOR        55 non-null     Int64
 1   CD_UOR             55 non-null     Int64
 2   SG_UOR             55 non-null     object
 3   NM_UOR_RDZ         55 non-null     object
 4   CD_DEPE_VICE_PRSA  37 non-null     Int64
 5   SG_VICE_PRSA       37 non-null     object
dtypes: Int64(3), object(3)
memory usage: 2.5+ KB

# Exercício 8 - Verificação do cumprimento do indicador - Parte 1

<b>Nível de dificuldade (1 a 5):</b> 4

<b>Requisitos:</b> exercícios 4 e 6

Criar um DataFrame Pandas chamado <b>exercicio8</b> contendo as informações consolidadas de todos os funcionários dos prefixos alvo da análise, conforme abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Matrícula do Funcionário|?|Int64|Código da matrícula (F) do funcionário. |N|?|?|
|2|Código da Unidade Organizacional de Localização|?|Int64|Código da UOR de localização do funcionário.|N|?|?|
|3|Quantidade Total de Cursos|?|Int64|Quantidade total de cursos realizados pelo funcionário no ano atual|N|?|?|
|4|Quantidade Total de Cursos da Trilha|?|Int64|Quantidade total de cursos da Trilha Estratégica realizados pelo funcionário até o momento|N|?|?|
|5|Quantidade Total de Horas no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|6|Quantidade Total de Horas da Trilha no Primeiro Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no primeiro semestre do ano atual|N|?|?|
|7|Quantidade Total de Horas no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|8|Quantidade Total de Horas da Trilha no Segundo Semestre|?|Int64|Quantidade total de horas de treinamento da Trilha Estratégica realizadas pelo funcionário no segundo semestre do ano atual|N|?|?|
|9|Indicador de Cumprimento Total da Trilha no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o primeiro semestre. Possíveis valores: "S" ou "N".|N|?|?|
|10|Indicador de Cumprimento Total da Trilha no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário realizou todos os cursos da Trilha Estratégica até o semestre. Possíveis valores: "S" ou "N".|N|?|?|

<b>Regra1:</b> ignorar os cursos para os quais não houver informação sobre a Carga Horária.

<b>Regra2:</b> atentar para a ocorrência de registros duplicados.

<b>Dica:</b> verifique os prefixos alvo da análise na descrição do desafio.

In [246]:
prefixos = pd.DataFrame({'Prefixo': [8008, 8556, 8559, 8593, 9797, 9880, 9968, 9973], 'Sigla': ['DIREC', 'DICRE', 'DIPES', 'DIGOV', 'UCI', 'DIMEP', 'UAN', 'DIEMP']})

In [247]:
ex3 = exercicio3.copy()
ex3['Ano_de_conclusão'] = ex3['DT_FIM_CSO'].apply(lambda x: x.year)

In [248]:
ex4 = exercicio4.copy()

In [249]:
curso_1 = pd.read_csv('bases/CSO/cso01.zip')
curso_2 = pd.read_csv('bases/CSO/cso02.zip')
curso_3 = pd.read_csv('bases/CSO/cso03.zip')
lista_curso = [curso1, curso2, curso3]
curso_ex8 = pd.concat(lista_curso)
curso_ex8 = curso_ex8.drop(['NM_CSO', 'TX_CSO', 'TX_OBJT_CSO', 'TX_DSMP_EPRO', 'TX_OBJT_ESTG', 'CD_CNH_CSO', 'CD_MDLD_CSO', 'CD_NVL_CSO', 'CD_NTZ_CSO', 'CD_TIP_OGM_CSO', 'CD_TIP_PBCO', 'CD_TIP_FRMC_SUPR', 'IN_VGC_CSO'], axis = 'columns')

In [250]:
ex3 = ex3.merge(curso_ex8, how = 'left', left_on = 'CD_CSO', right_on = 'CD_CSO')
ex3.dropna(axis = 'index', subset = 'CGHR_CSO', inplace = True)

In [251]:
funcis_alvo = ex4.merge(prefixos, how = 'inner', left_on = 'CD_PRF_DEPE_LCZC', right_on = 'Prefixo')

In [252]:
cd_uor = prefixos.merge(ex2, how = 'left', left_on = 'Prefixo', right_on = 'CD_DEPE_UOR')

In [253]:
cd_uor = cd_uor.query('NR_ORD_DEPE_SBDD == 0')
cd_uor.drop(['Sigla', 'NM_UOR_RDZ', 'SG_UOR', 'DT_INC_VLD', 'CD_ITEM_AQTT_UOR', 'CD_TIP_UOR', 'CD_DEPE_UOR', 'NR_ORD_DEPE_SBDD'], axis = 'columns', inplace = True)

In [254]:
cursos_ano = funcis_alvo.merge(ex3, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
cursos_ano = cursos_ano.query('Ano_de_conclusão == 2024')
qtde_cursos = cursos_ano['CD_MTC_FUN'].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [255]:
funcis_alvo = funcis_alvo.merge(cd_uor, how = 'left', left_on = 'CD_PRF_DEPE_LCZC', right_on = 'Prefixo')
funcis_alvo = funcis_alvo.merge(qtde_cursos, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'unique_values')
funcis_alvo.fillna(value = 0, inplace = True)

In [256]:
exercicio8 = pd.DataFrame()
exercicio8['CD_MTC_FUN'] = funcis_alvo['CD_MTC_FUN']
exercicio8['CD_UOR_LCZC'] = funcis_alvo['CD_UOR']
exercicio8['QT_TTL_CSO'] = funcis_alvo['counts']

In [257]:
cursos_trilha = ex3.merge(capacitacao, how = 'inner', left_on = 'CD_CSO', right_on = 'Código Educa')

In [258]:
qtde_cursos_trilha = cursos_trilha['CD_MTC_FUN'].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [259]:
funcis_alvo = funcis_alvo.merge(qtde_cursos_trilha, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'unique_values')
funcis_alvo.fillna(value = 0, inplace = True)

In [260]:
exercicio8['QT_TTL_CSO_TRLA'] = funcis_alvo['counts_y']

In [261]:
cursos_ano['MES_CONCL'] = cursos_ano['DT_FIM_CSO'].apply(lambda x: x.month)
cursos_sem1 = cursos_ano.query('1 <= MES_CONCL & MES_CONCL <= 6')

In [262]:
total_horas_sem1 = cursos_sem1.groupby('CD_MTC_FUN')['CGHR_CSO'].sum()
total_horas_sem1 = pd.DataFrame(total_horas_sem1).reset_index()
total_horas_sem1.rename(columns = {'CGHR_CSO': 'QT_TTL_HH_PRMO_SMT'}, inplace = True)

In [263]:
exercicio8 = exercicio8.merge(total_horas_sem1, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
exercicio8.fillna(0, inplace = True)
exercicio8['QT_TTL_HH_PRMO_SMT'] = exercicio8['QT_TTL_HH_PRMO_SMT'].astype('Int64')

In [264]:
cursos_sem1_trla = cursos_sem1.merge(capacitacao, how = 'inner', left_on = 'CD_CSO', right_on = 'Código Educa')

In [265]:
total_horas_sem1_trla = cursos_sem1_trla.groupby('CD_MTC_FUN')['CGHR_CSO'].sum()
total_horas_sem1_trla = pd.DataFrame(total_horas_sem1_trla).reset_index()
total_horas_sem1_trla.rename(columns = {'CGHR_CSO': 'QT_TTL_HH_TRLA_PRMO_SMT'}, inplace = True)
total_horas_sem1_trla['QT_TTL_HH_TRLA_PRMO_SMT'] = total_horas_sem1_trla['QT_TTL_HH_TRLA_PRMO_SMT'].astype('Int64')

In [266]:
exercicio8 = exercicio8.merge(total_horas_sem1_trla, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
exercicio8.fillna(0, inplace = True)

In [267]:
cursos_sem2 = cursos_ano.query('MES_CONCL > 6')

In [268]:
total_horas_sem2 = cursos_sem2.groupby('CD_MTC_FUN')['CGHR_CSO'].sum()
total_horas_sem2 = pd.DataFrame(total_horas_sem2).reset_index()
total_horas_sem2.rename(columns = {'CGHR_CSO': 'QT_TTL_HH_SGDO_SMT'}, inplace = True)
total_horas_sem2['QT_TTL_HH_SGDO_SMT'] = total_horas_sem2['QT_TTL_HH_SGDO_SMT'].astype('Int64')

In [269]:
exercicio8 = exercicio8.merge(total_horas_sem2, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
exercicio8.fillna(0, inplace = True)

In [270]:
cursos_sem2_trla = cursos_sem2.merge(capacitacao, how = 'inner', left_on = 'CD_CSO', right_on = 'Código Educa')

In [271]:
total_horas_sem2_trla = cursos_sem2_trla.groupby('CD_MTC_FUN')['CGHR_CSO'].sum()
total_horas_sem2_trla = pd.DataFrame(total_horas_sem2_trla).reset_index()
total_horas_sem2_trla.rename(columns = {'CGHR_CSO': 'QT_TTL_HH_TRLA_SGDO_SMT'}, inplace = True)
total_horas_sem2_trla['QT_TTL_HH_TRLA_SGDO_SMT'] = total_horas_sem2_trla['QT_TTL_HH_TRLA_SGDO_SMT'].astype('Int64')

In [272]:
exercicio8 = exercicio8.merge(total_horas_sem2_trla, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
exercicio8.fillna(0, inplace = True)

In [273]:
cursos_trilha['MES_CONCL'] = cursos_trilha['DT_FIM_CSO'].apply(lambda x: x.month)

In [274]:
cursos_trilha_ate1 = cursos_trilha.query('Ano_de_conclusão == 2024 & MES_CONCL > 6').index

In [275]:
indicador_trla_sem1 = cursos_trilha.drop(index = cursos_trilha_ate1)

In [276]:
num_indicador_trla_sem1 = indicador_trla_sem1['CD_MTC_FUN'].value_counts().rename_axis('unique_values').reset_index(name='counts')

In [277]:
num_indicador_trla_sem1['cumpriu'] = num_indicador_trla_sem1['counts'].apply(lambda x: 'S' if x == 89 else 'N')

In [278]:
exercicio8 = exercicio8.merge(num_indicador_trla_sem1, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'unique_values')
exercicio8.drop(columns = ['unique_values', 'counts'], inplace = True)
exercicio8.fillna(value = 'N', inplace = True)
exercicio8.rename(columns = {'cumpriu': 'IN_CPM_TTL_TRLA_PRMO_SMT'}, inplace = True)

In [279]:
indicador_trla_total = cursos_trilha['CD_MTC_FUN'].value_counts().rename_axis('unique_values').reset_index(name='counts')
indicador_trla_total['IN_CPM_TTL_TRLA_SGDO_SMT'] = indicador_trla_total['counts'].apply(lambda x: 'S' if x == 89 else 'N')

In [280]:
exercicio8 = exercicio8.merge(indicador_trla_total, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'unique_values')
exercicio8.drop(columns = ['unique_values', 'counts'], inplace = True)
exercicio8.fillna(value = 'N', inplace = True)
exercicio8.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 0 to 1240
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                1241 non-null   Int64
 1   CD_UOR_LCZC               1241 non-null   Int64
 2   QT_TTL_CSO                1241 non-null   Int64
 3   QT_TTL_CSO_TRLA           1241 non-null   Int64
 4   QT_TTL_HH_PRMO_SMT        1241 non-null   Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   1241 non-null   Int64
 6   QT_TTL_HH_SGDO_SMT        1241 non-null   Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   1241 non-null   Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  1241 non-null   object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  1241 non-null   object
dtypes: Int64(8), object(2)
memory usage: 106.6+ KB

# Exercício 9 - Verificação do cumprimento do indicador - Parte 2

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 8

Criar um DataFrame Pandas chamado <b>exercicio9</b> contendo todas as informações do exercício 8 mais os atributos relacionados abaixo:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|10|Indicador de Funcionário Avaliável no Primeiro Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no primeiro semestre.|N|?|?|
|11|Indicador de Funcionário Avaliável no Segundo Semestre|?|object|Indicador que sinaliza se o funcionário é avaliável no segundo semestre.|N|?|?|

<b>Regra 1:</b> os funcionários que atenderem às situações abaixo elencadas serão considerados "Não avaliáveis"
- Permanecerem por mais de 90 dias em situação diferente de 100-Força de Trabalho Real no semestre.
- Atuarem como colaboradores (Disponibilidade ou Cessão) ou adidos por mais de 90 dias no semestre.
- Cujo total de dias em situação diferente de 100-Força de Trabalho Real somado ao total de dias em colaboração (Disponibilidade ou Cessão) for maior que 90 dias.
- Estiverem em situação de colaboração ou adição no encerramento da apuração semestral (fechamento do semestre: 30/06/2024 ou 31/12/2024)
- Funcionários empossados no BB há menos de 90 dias no encerramento da apuração semestral.

<b>Regra 2:</b> para fins de apuração do indicador de Capacitação Estratégica, considere:
- como colaboração os funcis que apresentarem situação "DISP" ou "ADIDOS" ou "CEDIDOS", exceto folga.
- como situação diferente de 100-Força de Trabalho Real apenas as situações que contemplarem:
  - Licença Saúde (LS)
  - Licença Interesse
  - Licença Maternidade
  - Licença Paternidade
  - Nascimento de Filho - Pai
  - Licença para assistência a pessoa enferna da família (LIC.P/AS.PES.ENF.FAM-70% PR)

In [281]:
situacoes = pd.read_csv('bases/SITUACOES.csv', sep = ';')

In [282]:
est_fun_01 = pd.read_csv('bases/EST_FUN/est_fun01.zip')
est_fun_02 = pd.read_csv('bases/EST_FUN/est_fun02.zip')
est_fun_03 = pd.read_csv('bases/EST_FUN/est_fun03.zip')
est_fun_04 = pd.read_csv('bases/EST_FUN/est_fun04.zip')
est_fun_05 = pd.read_csv('bases/EST_FUN/est_fun05.zip')
est_fun_06 = pd.read_csv('bases/EST_FUN/est_fun06.zip')
est_fun_07 = pd.read_csv('bases/EST_FUN/est_fun07.zip')
est_fun_08 = pd.read_csv('bases/EST_FUN/est_fun08.zip')
est_fun_09 = pd.read_csv('bases/EST_FUN/est_fun09.zip')
est_fun_10 = pd.read_csv('bases/EST_FUN/est_fun10.zip')

In [283]:
lista_estfun = [est_fun_01, est_fun_02, est_fun_03, est_fun_04, est_fun_05, est_fun_06, est_fun_07, est_fun_08, est_fun_09, est_fun_10]
est_fun = pd.concat(lista_estfun)
est_fun['DT_FIM_EST_FUN'] = est_fun['DT_FIM_EST_FUN'].apply(lambda x: '2024-12-31' if x[:4] == '9999' else x)
est_fun['DT_FIM_EST_FUN'] = pd.to_datetime(est_fun['DT_FIM_EST_FUN'], yearfirst = True)
est_fun['Ano_fim'] = est_fun['DT_FIM_EST_FUN'].apply(lambda x: x.year)
est_fun_2024 = est_fun.query('Ano_fim == 2024 | Ano_fim == 2025')
est_fun_2024['DT_INC_EST_FUN'] = pd.to_datetime(est_fun_2024['DT_INC_EST_FUN'], yearfirst = True)
est_fun_2024['Ano_inicio'] = est_fun_2024['DT_INC_EST_FUN'].apply(lambda x: x.year)

In [284]:
funcis_alvo_ex9 = funcis_alvo.drop(columns = ['NM_FUN', 'SG_TIP_EST_CVL', 'CD_TIP_NVL_ITC', 'DT_NSC', 'CD_TIP_GNR', 'CD_PRF_DEPE_LCZC', 'CD_FUC_CRG_EFT', 'DT_PSSE_LCZC', 
                                             'Prefixo_x', 'Sigla', 'Prefixo_y', 'CD_UOR', 'unique_values_x', 'counts_x', 'unique_values_y', 'counts_y'])

In [285]:
est_fun_2024 = est_fun_2024.merge(situacoes, how = 'left', left_on = 'CD_TIP_EST_FUNL', right_on = 'cod_situacao')

In [286]:
est_fun_2024['descricao'].unique()

array(['ABONO AUSENCIA-ACT', 'FERIAS', 'TREIN.PRESENCIAL-TREINAN-4H',
       'LUTO', 'FOLGA - BANCO DE HORAS', 'ACOMP.DEP.MEDICO/ODONT.',
       'LS COMUM/PELO BANCO', 'TREIN.PRESENCIAL-TREINAN-8H', 'FOLGA',
       'TREIN.EM SERV-TREINANDO-6H', 'SERVICO EXTERNO',
       'ABONO ACT-ANOS ANTERIORES', 'TREIN.PRESENCIAL-TREINAN-3H',
       'TREIN.PRESENCIAL-TREINAN-2H', 'TREIN.PRESENCIAL-TREINAN-6H',
       'JORN.PARCIAL-ACOMP.DEP.MEDI', 'TREIN.PRESENCIAL-TREINAN-1H',
       'TREIN.PRESENCIAL-TREINAN-5H', 'INTERNACAO HOSPIT - FAMILIA',
       'EDUCADOR - DIPES', 'DOACAO DE SANGUE',
       'FORMACAO/ATUALIZACAO-EDUCAD', 'TRANSITO',
       'DISP.S/ONUS/PG.DEB-C/CONT.T', 'OUTROS ABONOS',
       'NASCIMENTO DE FILHO - PAI', 'LIC PATER/PRORROG OU EQUIVA',
       'ABONO ASSIDUIDADE', 'VIAGEM A SERVICO', 'LS COMUM/PELO INSS',
       'TREIN.PRESENCIAL-TREINAN-7H', 'ORIENTADOR PROFISSIONAL',
       'LS ACID.TRABALHO-TIPICO/BAN', 'INSTALACAO',
       'TREIN.EM SERV-TREINANDO-3H', 'TREIN.EM SERV-TREINANDO-4H',
       'LICENCA PREMIO', 'LICENCA DESCANSO MATERNIDAD',
       'LIC.MATERN-60DD PRORROGACAO', 'FORCA TRAB REAL-AMAMENTA/1H',
       'LS SEM BENEFICIO INSS-PROVE', 'TREIN.EM SERV-TREINANDO-8H',
       'AVALIACAO DE SAUDE-CASSI/IN', 'TREIN.EM SERV-TREINANDO-2H',
       'TREIN.EM SERV-TREINANDO-1H', 'LS ACID.TRABALHO-TRAJETO/BA',
       'TREIN.AUTO INSTR-TREINAN-6H', 'CASAMENTO',
       'FOLGA - JUSTICA ELEITORAL', 'PESQUISADOR-MESTRADO/DOUTOR',
       'LS SEM COMPLEMENTACAO BB', 'JORN.PARCIAL-INTERN.FAMILIA',
       'LS APOSENTADO INSS-APOS 15', 'TREIN.EM SERV-TREINANDO-5H',
       'FORCA TRAB REAL-AMAMENTA/2H', 'ABONO INCENTIVO/RECONHECIME',
       'TREIN.EM SERV-TREINANDO-7H', 'DISP.C/ONUS C/CONTAGEM TEMP',
       'BEM-VINDO BB-TREIN.PRES.-8H', 'PROVA ESCOLAR/VESTIBULAR/CE',
       'LIC.MATERNIDADE-LEI 9876-29'], dtype=object)

In [287]:
situacoes_impeditivas = ['LS COMUM/PELO BANCO', 'LS COMUM/PELO INSS', 'LS ACID.TRABALHO-TIPICO/BAN', 'LS SEM BENEFICIO INSS-PROVE', 'LS ACID.TRABALHO-TRAJETO/BA',
                        'LS SEM COMPLEMENTACAO BB', 'LS APOSENTADO INSS-APOS 15', 'LIC PATER/PRORROG OU EQUIVA', 'NASCIMENTO DE FILHO - PAI', 'LICENCA DESCANSO MATERNIDAD',
                        'LIC.MATERN-60DD PRORROGACAO', 'LIC.MATERNIDADE-LEI 9876-29', 'DISP.S/ONUS/PG.DEB-C/CONT.T', 'DISP.C/ONUS C/CONTAGEM TEMP']
query_situacoes_impeditivas = est_fun_2024['descricao'].isin(situacoes_impeditivas)
est_fun_2024_imp = est_fun_2024[query_situacoes_impeditivas]

In [288]:
est_fun_2024_imp['DT_INC_EST_FUN'] = est_fun_2024_imp['DT_INC_EST_FUN'].apply(lambda x: x if x.year == 2024 else pd.to_datetime('2024-01-01', yearfirst = True))

In [289]:
est_fun_2024_imp['Mes_fim'] = est_fun_2024_imp['DT_FIM_EST_FUN'].apply(lambda x: x.month)
est_fun_2024_imp['Mes_inicio'] = est_fun_2024_imp['DT_INC_EST_FUN'].apply(lambda x: x.month)

In [290]:
est_fun_2024_imp_sem1 = est_fun_2024_imp.copy()
est_fun_2024_imp_sem2 = est_fun_2024_imp.copy()

In [291]:
est_fun_2024_imp_sem1 = est_fun_2024_imp_sem1.query('Mes_inicio <= 6')
est_fun_2024_imp_sem1.reset_index(inplace = True, drop = True)
est_fun_2024_imp_sem1['DT_FIM_EST_FUN'] = est_fun_2024_imp_sem1['DT_FIM_EST_FUN'].apply(lambda x: x if x.month <= 6 else pd.to_datetime('2024-06-30', yearfirst = True))
est_fun_2024_imp_sem1.query('Mes_fim >= 7')['DT_FIM_EST_FUN'].unique()

array(['2024-06-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [292]:
est_fun_2024_imp_sem2 = est_fun_2024_imp_sem2.query('Mes_fim > 6')
est_fun_2024_imp_sem2.reset_index(inplace = True, drop = True)
est_fun_2024_imp_sem2['DT_INC_EST_FUN'] = est_fun_2024_imp_sem2['DT_INC_EST_FUN'].apply(lambda x: x if x.month > 6 else pd.to_datetime('2024-07-01', yearfirst = True))
est_fun_2024_imp_sem2.query('Mes_inicio <= 6')['DT_INC_EST_FUN'].unique()

array(['2024-07-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [293]:
chaves = list(map(lambda x: len(pd.date_range(start = est_fun_2024_imp_sem1['DT_INC_EST_FUN'].iloc[x], end = est_fun_2024_imp_sem1['DT_FIM_EST_FUN'].iloc[x], freq = 'D')), range(2802)))
est_fun_2024_imp_sem1['dias_sit'] = chaves

In [294]:
chaves_2 = list(map(lambda x: len(pd.date_range(start = est_fun_2024_imp_sem2['DT_INC_EST_FUN'].iloc[x], end = est_fun_2024_imp_sem2['DT_FIM_EST_FUN'].iloc[x], freq = 'D')), range(43)))
est_fun_2024_imp_sem2['dias_sit'] = chaves_2

In [295]:
dias_sem1 = est_fun_2024_imp_sem1.groupby('CD_MTC_FUN')['dias_sit'].sum()
df_dias_sem1 = pd.DataFrame(dias_sem1).reset_index()
df_dias_sem1['Avaliavel_dias_situacao'] = df_dias_sem1['dias_sit'].apply(lambda x: 'N' if x > 90 else 'S')

In [296]:
dias_sem2 = est_fun_2024_imp_sem2.groupby('CD_MTC_FUN')['dias_sit'].sum()
df_dias_sem2 = pd.DataFrame(dias_sem2).reset_index()
df_dias_sem2['Avaliavel_dias_situacao'] = df_dias_sem2['dias_sit'].apply(lambda x: 'N' if x > 90 else 'S')

FEITA A VERIFICAÇÃO DOS DIAS EM SITUAÇÃO IMPEDITIVA, VAMOS VERIFICAR OS FUNCIONÁRIOS COM SITUAÇÃO DE ADIDO OU CEDIDO AO FINAL DO SEMESTRE

In [297]:
cedido_sem1 = est_fun_2024_imp_sem1.query('descricao == "DISP.S/ONUS/PG.DEB-C/CONT.T" | descricao == "DISP.C/ONUS C/CONTAGEM TEMP"')
cedido_sem1.drop_duplicates(subset = 'CD_MTC_FUN', keep = 'last', inplace = True)

In [298]:
cedido_sem1_ultdia = pd.DataFrame()
cedido_sem1_ultdia['CD_MTC_FUN'] = cedido_sem1['CD_MTC_FUN']
cedido_sem1_ultdia['Avaliavel_Cedido_final'] = cedido_sem1['DT_FIM_EST_FUN'].apply(lambda x: 'N' if x == pd.to_datetime('2024-06-30') else 'S')

NÃO HÁ NENHUM CEDIDO NO SEGUNDO SEMESTRE. VAMOS PARA A VERIFICAÇÃO DA DATA DE POSSE

In [299]:
dias_posse_sem1 = funcis_alvo_ex9.copy()
dias_posse_sem1['Dias_empossados'] = dias_posse_sem1['DT_PSSE_BB'].apply(lambda x: len(pd.date_range(start = x, end = pd.to_datetime('2024-06-30', yearfirst = True), freq = 'D')))
dias_posse_sem1['Avaliavel_tempo_de_BB'] = dias_posse_sem1['Dias_empossados'].apply(lambda x: 'S' if x >= 90 else 'N')

In [300]:
dias_posse_sem2 = funcis_alvo_ex9.copy()
dias_posse_sem2['Dias_empossados'] = dias_posse_sem2['DT_PSSE_BB'].apply(lambda x: len(pd.date_range(start = x, end = pd.to_datetime('2024-12-31', yearfirst = True), freq = 'D')))
dias_posse_sem2['Avaliavel_tempo_de_BB'] = dias_posse_sem2['Dias_empossados'].apply(lambda x: 'S' if x >= 90 else 'N')

TAMBÉM NÃO HÁ NINGUÉM NÃO-AVALIÁVEL POR TEMPO DE POSSE NO SEGUNDO SEMESTRE. JUNTANDO TUDO

In [301]:
avaliavel_sem1 = dias_posse_sem1.merge(df_dias_sem1, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')
avaliavel_sem1 = avaliavel_sem1.merge(cedido_sem1_ultdia, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')

In [302]:
avaliavel_sem1['IN_FUN_AVLV_PRMO_SMT'] = list(map(lambda x: 'N' if ((avaliavel_sem1['Avaliavel_tempo_de_BB'].iloc[x] == 'N') | (avaliavel_sem1['Avaliavel_dias_situacao'].iloc[x] == 'N') | 
                                                                   (avaliavel_sem1['Avaliavel_Cedido_final'].iloc[x] == 'N')) else 'S', range(1241)))

In [303]:
avaliavel_sem1.drop(columns = ['DT_PSSE_BB', 'Dias_empossados', 'Avaliavel_tempo_de_BB', 'dias_sit', 'Avaliavel_dias_situacao', 'Avaliavel_Cedido_final'], inplace = True)

In [304]:
exercicio9 = exercicio8.copy()
exercicio9 = exercicio9.merge(avaliavel_sem1, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')

In [305]:
exercicio9 = exercicio9.merge(df_dias_sem2, how = 'left', left_on = 'CD_MTC_FUN', right_on = 'CD_MTC_FUN')

In [306]:
exercicio9.drop(columns = 'dias_sit', inplace = True)
exercicio9.rename(columns = {'Avaliavel_dias_situacao': 'IN_FUN_AVLV_SGDO_SMT'}, inplace = True)
exercicio9.fillna(value = 'S', inplace = True)
exercicio9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1241 entries, 0 to 1240
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                1241 non-null   Int64
 1   CD_UOR_LCZC               1241 non-null   Int64
 2   QT_TTL_CSO                1241 non-null   Int64
 3   QT_TTL_CSO_TRLA           1241 non-null   Int64
 4   QT_TTL_HH_PRMO_SMT        1241 non-null   Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   1241 non-null   Int64
 6   QT_TTL_HH_SGDO_SMT        1241 non-null   Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   1241 non-null   Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  1241 non-null   object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  1241 non-null   object
 10  IN_FUN_AVLV_PRMO_SMT      1241 non-null   object
 11  IN_FUN_AVLV_SGDO_SMT      1241 non-null   object
dtypes: Int64(8), object(4)
memory usage: 116.3+ KB

In [307]:
exercicio9['IN_FUN_AVLV_PRMO_SMT'].value_counts()

S    1227
N      14
Name: IN_FUN_AVLV_PRMO_SMT, dtype: int64

In [308]:
exercicio9['IN_FUN_AVLV_SGDO_SMT'].value_counts()

S    1234
N       7
Name: IN_FUN_AVLV_SGDO_SMT, dtype: int64

# Exercício 10 - Cumprimento do indicador por prefixo

<b>Nível de dificuldade (1 a 5):</b> 5

<b>Requisitos:</b> exercício 9

<b><<< Parte 1 >>></b>

Criar um DataFrame Pandas chamado <b>exercicio10</b> contendo a consolidação das informações das UORs:

||Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|---|
|1|Código da Dependência da Unidade Organizacional|?|Int64|Código identificador de Dependências de Instituições Organizacionais. No BB atualmente é utilizado os domínios entre 1 e 9999.|N|?|?|
|2|Código da Unidade Organizacional|?|Int64|Código identificador de Unidade Organizacional (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las.|N|?|?|
|3|Sigla da Unidade Organizacional|?|object|Reunião das letras iniciais dos vocábulos fundamentais de uma denominação ou título, sem articulação prosódica, constituindo meras abreviaturas. Ex.: "DITEC", "GBASE", "DIREO", "PRESI", etc.|N|?|?|
|4|Nome da Unidade Organizacional Reduzido|?|object|Nome reduzido da Unidade Organizacional.|N|?|?|
|5|Código da Dependência da Vice-Presidência|?|Int64|Código identificador da Dependência da Vice-Presidência jurisdicionante da UOR.|N|?|?|
|6|Sigla da Vice-Presidência|?|object|Sigla da Vice-Presidência jurisdicionante da UOR.|N|?|?
|7|Quantidade Total de Funcionários da Unidade Organizacional|?|Int64|Quantidade total de funcionários localizados na UOR|N|?|?|
|8|Indicador de Unidade Organizacional Alvo da Análise|?|object|Indica se a UOR é alvo da análise. Possíveis valores: "S" ou "N". |N|?|?|
|9|Índice de Atingimento do Indicador no Primeiro Semestre|?|float64|Indicativo do percentual de atingimento do indicador no primeiro semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|
|10|Índice de Atingimento do Indicador no Segundo Semestre|?|float64|Indicativo do percentual de atingimento do indicador no segundo semestre, caso a UOR seja alvo da análise. Varia de 0 a 1, com duas casas decimais.|S|?|?|

<b>Regras gerais:</b>
    
- deverão ser listadas apenas as UORs que possuem Vice-Presidência vinculada.

- verifique os prefixos alvo da análise na descrição do desafio.

Considere as regras abaixo para apuração do cumprimento do indicador para cada um dos prefixos alvo da análise:

<b>Regras de apuração individual</b>: o indicador será considerado cumprido para os funcionários que:
- completarem o mínimo de 20 horas total de cursos, sendo no mínimo 10h de treinamentos da Trilha Estratégica, realizados dentro do semestre de apuração
- tiverem cumprido toda a Trilha Estratégica na data de apuração, desde que tenha cumprido o mínimo de 20 horas total no semestre de apuração

<b>Regra de apuração por prefixo</b>: o indicador será considerado cumprido para os prefixos que tiverem 90% do público avaliável com o indicador cumprido no semestre.

<b><<< Parte 2 >>></b>

Considerando as regras de apuração acima, responda às perguntas abaixo tomando por base a apuração do primeiro semestre:

    a) quais os prefixos que cumpriram o indicador?

    b) qual o prefixo com menor índice de cumprimento do indicador?

    c) qual o prefixo com o maior índice de cumprimento do indicador?

    d) qual o prefixo com o menor índice de funcionários não avaliáveis?

    e) qual o maior índice de funcionários não avaliáveis dentre os observados nos prefixos avaliados?

Ao final do exercício, deverá ser criada uma variável para cada um dos itens acima, sendo o nome e o tipo delas conforme abaixo detalhado:

|Item|Nome da variável|Tipo de objeto|
|---|---|---|
|a)|exercicio10a|variável do tipo list, itens do tipo int|
|b)|exercicio10b|int|
|c)|exercicio10c|int|
|d)|exercicio10d|int|
|e)|exercicio10e|float (2casas decimais)|

<b>Regra 1:</b> utilize a função round() para eventuais arredondamentos.

<b>Regra 2:</b> em caso de empate, o desempate será pela maior quantidade de funcionários avaliáveis no prefixo.

In [309]:
uor_com_vice_pres = pd.DataFrame()
uor_com_vice_pres = ex2.merge(vice_pres_vinc, how = 'inner', left_on = 'CD_UOR', right_on = 'CD_UOR_VCLD')
uor_com_vice_pres.drop_duplicates(subset = 'CD_UOR_x', keep = 'first', inplace = True)

In [310]:
exercicio10 = pd.DataFrame()
exercicio10['CD_DEPE_UOR'] = uor_com_vice_pres['CD_DEPE_UOR_x']
exercicio10['CD_UOR'] = uor_com_vice_pres['CD_UOR_x']
exercicio10['SG_UOR'] = uor_com_vice_pres['SG_UOR_x']
exercicio10['NM_UOR_RDZ'] = uor_com_vice_pres['NM_UOR_RDZ_x']
exercicio10['CD_DEPE_VICE_PRSA'] = uor_com_vice_pres['CD_DEPE_UOR_y']
exercicio10['SG_VICE_PRSA'] = uor_com_vice_pres['SG_UOR_y']

In [311]:
cd_uor_funci = ex4.merge(ex2, how = 'left', left_on = 'CD_PRF_DEPE_LCZC', right_on = 'CD_DEPE_UOR')
cd_uor_funci = cd_uor_funci.query('NR_ORD_DEPE_SBDD == 0')

In [312]:
qtde_funci_uor = cd_uor_funci['CD_UOR'].value_counts().reset_index()
qtde_funci_uor.rename(columns = {'index': 'CD_UOR', 'CD_UOR': 'QT_TTL_FUN_UOR'}, inplace = True)

In [313]:
exercicio10 = exercicio10.merge(qtde_funci_uor, how = 'left', left_on = 'CD_UOR', right_on = 'CD_UOR')
exercicio10.fillna(0, inplace = True)

In [314]:
lista_prefixos = [8008, 8556, 8559, 8593, 9797, 9880, 9968, 9973]
exercicio10['IN_UOR_ALVO_ANL'] = exercicio10['CD_DEPE_UOR'].apply(lambda x: 'S' if x in lista_prefixos else 'N')

In [315]:
ex9 = exercicio9.copy()

In [316]:
ex9_prim_sem = ex9.query('IN_FUN_AVLV_PRMO_SMT == "S"')
ex9_prim_sem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1227 entries, 0 to 1240
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                1227 non-null   Int64
 1   CD_UOR_LCZC               1227 non-null   Int64
 2   QT_TTL_CSO                1227 non-null   Int64
 3   QT_TTL_CSO_TRLA           1227 non-null   Int64
 4   QT_TTL_HH_PRMO_SMT        1227 non-null   Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   1227 non-null   Int64
 6   QT_TTL_HH_SGDO_SMT        1227 non-null   Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   1227 non-null   Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  1227 non-null   object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  1227 non-null   object
 10  IN_FUN_AVLV_PRMO_SMT      1227 non-null   object
 11  IN_FUN_AVLV_SGDO_SMT      1227 non-null   object
dtypes: Int64(8), object(4)
memory usage: 115.0+ KB

In [317]:
fun_aval_prim_sem = ex9_prim_sem['CD_UOR_LCZC'].value_counts().rename_axis('unique_values').reset_index(name='counts')
fun_aval_prim_sem

   unique_values  counts
0           5117     232
1          40066     201
2           7671     195
3           5114     172
4           7670     170
5           9598     110
6           5151      83
7          39660      64

In [318]:
ex9_cumpriu_prim_sem = ex9_prim_sem.query('(QT_TTL_HH_PRMO_SMT >= 20 & QT_TTL_HH_TRLA_PRMO_SMT >= 10) | (QT_TTL_CSO_TRLA == 89 & QT_TTL_HH_PRMO_SMT >= 20)')
ex9_cumpriu_prim_sem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1114 entries, 0 to 1240
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                1114 non-null   Int64
 1   CD_UOR_LCZC               1114 non-null   Int64
 2   QT_TTL_CSO                1114 non-null   Int64
 3   QT_TTL_CSO_TRLA           1114 non-null   Int64
 4   QT_TTL_HH_PRMO_SMT        1114 non-null   Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   1114 non-null   Int64
 6   QT_TTL_HH_SGDO_SMT        1114 non-null   Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   1114 non-null   Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  1114 non-null   object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  1114 non-null   object
 10  IN_FUN_AVLV_PRMO_SMT      1114 non-null   object
 11  IN_FUN_AVLV_SGDO_SMT      1114 non-null   object
dtypes: Int64(8), object(4)
memory usage: 104.4+ KB

In [319]:
contagem_prim_sem = ex9_cumpriu_prim_sem['CD_UOR_LCZC'].value_counts().rename_axis('unique_values').reset_index(name='counts')
contagem_prim_sem = contagem_prim_sem.merge(fun_aval_prim_sem, how = 'left', left_on = 'unique_values', right_on = 'unique_values')
contagem_prim_sem

   unique_values  counts_x  counts_y
0           5117       217       232
1          40066       181       201
2           7671       174       195
3           7670       159       170
4           5114       150       172
5           9598        99       110
6           5151        75        83
7          39660        59        64

In [320]:
contagem_prim_sem['IC_ATGT_IN_PRMO_SMT'] = round(contagem_prim_sem['counts_x'] / contagem_prim_sem['counts_y'], 2)
contagem_prim_sem.drop(columns = ['counts_x', 'counts_y'], inplace = True)
contagem_prim_sem.rename(columns = {'unique_values': 'CD_UOR'}, inplace = True)
contagem_prim_sem

   CD_UOR  IC_ATGT_IN_PRMO_SMT
0    5117                 0.94
1   40066                  0.9
2    7671                 0.89
3    7670                 0.94
4    5114                 0.87
5    9598                  0.9
6    5151                  0.9
7   39660                 0.92

In [321]:
exercicio10 = exercicio10.merge(contagem_prim_sem, how = 'left', left_on = 'CD_UOR', right_on = 'CD_UOR')

In [322]:
ex9_seg_sem = ex9.query('IN_FUN_AVLV_SGDO_SMT == "S"')
ex9_seg_sem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1234 entries, 0 to 1240
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                1234 non-null   Int64
 1   CD_UOR_LCZC               1234 non-null   Int64
 2   QT_TTL_CSO                1234 non-null   Int64
 3   QT_TTL_CSO_TRLA           1234 non-null   Int64
 4   QT_TTL_HH_PRMO_SMT        1234 non-null   Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   1234 non-null   Int64
 6   QT_TTL_HH_SGDO_SMT        1234 non-null   Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   1234 non-null   Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  1234 non-null   object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  1234 non-null   object
 10  IN_FUN_AVLV_PRMO_SMT      1234 non-null   object
 11  IN_FUN_AVLV_SGDO_SMT      1234 non-null   object
dtypes: Int64(8), object(4)
memory usage: 115.7+ KB

In [323]:
fun_aval_seg_sem = ex9_seg_sem['CD_UOR_LCZC'].value_counts().rename_axis('unique_values').reset_index(name='counts')
fun_aval_seg_sem

   unique_values  counts
0           5117     234
1          40066     203
2           7671     195
3           5114     173
4           7670     172
5           9598     110
6           5151      83
7          39660      64

In [324]:
ex9_cumpriu_seg_sem = ex9_seg_sem.query('(QT_TTL_HH_SGDO_SMT >= 20 & QT_TTL_HH_TRLA_SGDO_SMT >= 10) | (QT_TTL_CSO_TRLA == 89 & QT_TTL_HH_SGDO_SMT >= 20)')
ex9_cumpriu_seg_sem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513 entries, 1 to 1239
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CD_MTC_FUN                513 non-null    Int64
 1   CD_UOR_LCZC               513 non-null    Int64
 2   QT_TTL_CSO                513 non-null    Int64
 3   QT_TTL_CSO_TRLA           513 non-null    Int64
 4   QT_TTL_HH_PRMO_SMT        513 non-null    Int64
 5   QT_TTL_HH_TRLA_PRMO_SMT   513 non-null    Int64
 6   QT_TTL_HH_SGDO_SMT        513 non-null    Int64
 7   QT_TTL_HH_TRLA_SGDO_SMT   513 non-null    Int64
 8   IN_CPM_TTL_TRLA_PRMO_SMT  513 non-null    object
 9   IN_CPM_TTL_TRLA_SGDO_SMT  513 non-null    object
 10  IN_FUN_AVLV_PRMO_SMT      513 non-null    object
 11  IN_FUN_AVLV_SGDO_SMT      513 non-null    object
dtypes: Int64(8), object(4)
memory usage: 48.1+ KB

In [325]:
contagem_seg_sem = ex9_cumpriu_seg_sem['CD_UOR_LCZC'].value_counts().rename_axis('unique_values').reset_index(name='counts')
contagem_seg_sem = contagem_seg_sem.merge(fun_aval_seg_sem, how = 'left', left_on = 'unique_values', right_on = 'unique_values')
contagem_seg_sem

   unique_values  counts_x  counts_y
0           5117       100       234
1          40066        88       203
2           7671        81       195
3           7670        68       172
4           5114        63       173
5           9598        46       110
6           5151        38        83
7          39660        29        64

In [326]:
contagem_seg_sem['IC_ATGT_IN_SGDO_SMT'] = round(contagem_seg_sem['counts_x'] / contagem_seg_sem['counts_y'], 2)
contagem_seg_sem.drop(columns = ['counts_x', 'counts_y'], inplace = True)
contagem_seg_sem.rename(columns = {'unique_values': 'CD_UOR'}, inplace = True)
contagem_seg_sem

   CD_UOR  IC_ATGT_IN_SGDO_SMT
0    5117                 0.43
1   40066                 0.43
2    7671                 0.42
3    7670                  0.4
4    5114                 0.36
5    9598                 0.42
6    5151                 0.46
7   39660                 0.45

In [327]:
exercicio10 = exercicio10.merge(contagem_seg_sem, how = 'left', left_on = 'CD_UOR', right_on = 'CD_UOR')
exercicio10.head(40)

,CD_DEPE_UOR,CD_UOR,SG_UOR,NM_UOR_RDZ,CD_DEPE_VICE_PRSA,SG_VICE_PRSA,QT_TTL_FUN_UOR,IN_UOR_ALVO_ANL,IC_ATGT_IN_PRMO_SMT,IC_ATGT_IN_SGDO_SMT
0,8550,5108,DIRCO,DIRCO-CONTROLADORIA,8063,VIFIN,129,N,<NA>,<NA>
1,8556,5114,DICRE,DICRE/RISCO CREDITO,9597,VICRI,173,S,0.87,0.36
2,8557,5115,DIFIN,DIFIN-FINANCAS,8063,VIFIN,154,N,<NA>,<NA>
3,8558,5116,DISEC,DISEC-SUP INFR PATR,8010,VICOR,198,N,<NA>,<NA>
4,8559,5117,DIPES,DIPES-CULT E PESSOAS,8010,VICOR,235,S,0.94,0.43
5,8590,5148,DICOR,DICOR-CORPORATE BANK,8069,VIPAT,72,N,<NA>,<NA>
6,8592,5150,DIVAR,DIVAR-COMERCIAL VAR,8166,VIVAR,72,N,<NA>,<NA>
7,8593,5151,DIGOV,DIGOV-GOVERNO,8468,VIGOV,83,S,0.9,0.46
8,8595,5153,UCR,UCR-COBRANCA E REEST,8010,VICOR,101,N,<NA>,<NA>
9,8596,5154,DIRAG,DIRAG-AGRONEGOCIOS,8042,VIPAG,156,N,<NA>,<NA>
10,8627,5185,URI,URI-REL.INVESTIDORES,8063,VIFIN,29,N,<NA>,<NA>
11,8948,5536,OUVID,OUVIDORIA,8010,VICOR,26,N,<NA>,<NA>
12,9568,6107,COGER,COGER-CONTADORIA,8063,VIFIN,196,N,<NA>,<NA>
13,9572,6109,DICOI,DICOI-CONTR.INTERNOS,9597,VICRI,54,N,<NA>,<NA>
14,9599,6135,DIRIS,DIRIS-GESTAO RISCOS,9597,VICRI,181,N,<NA>,<NA>
15,9600,6136,DIOPE,DIOPE-OPERACOES,8010,VICOR,292,N,<NA>,<NA>
16,9867,6390,CIB,CIB-CORP INVEST BANK,8069,VIPAT,81,N,<NA>,<NA>
17,9879,6399,MPE,CLIENTES-MPE,8166,VIVAR,64,N,<NA>,<NA>
18,9903,6411,DITEC,DITEC-TECNOLOGIA,8033,VINET,137,N,<NA>,<NA>
19,9882,7513,UPB,UPB-PRIVATE BANK,8069,VIPAT,75,N,<NA>,<NA>
20,9880,7670,DIMEP,DIMEP-MEIOS PAGAMEN.,8063,VIFIN,174,S,0.94,0.4
21,9973,7671,DIEMP,DIEMP-EMPREST.FINANC,8042,VIPAG,197,S,0.89,0.42
22,9974,7672,DISEG,DIPRO-SEGURIDADE,8033,VINET,76,N,<NA>,<NA>
23,9548,8465,USD,USD-SEG DIGITAL INF.,8033,VINET,240,N,<NA>,<NA>
24,8008,9598,DIREC,DIREC-CLI. VAR. PF,8166,VIVAR,110,S,0.9,0.42
25,9510,36570,UGE,UPE-PART.PARC.ESTRAT,8063,VIFIN,95,N,<NA>,<NA>
26,9090,38038,,CESUP INF GR PREDIOS,8010,VICOR,246,N,<NA>,<NA>
27,8892,38057,GECEM,GECEM-CENTRAL METAS,8166,VIVAR,38,N,<NA>,<NA>
28,8896,38668,USI,USI-SEGUR. INST.,9597,VICRI,194,N,<NA>,<NA>
29,9897,38852,DINED,DINED-NEG. DIGITAIS,8033,VINET,96,N,<NA>,<NA>
30,9797,39660,UCI,UCI-CAPTACAO INVEST.,8069,VIPAT,64,S,0.92,0.45
31,9958,39763,UNI,UNI-NEG. INTERNAC.,8069,VIPAT,66,N,<NA>,<NA>
32,9220,40003,DIRAV,DIRAV-ALTO VAREJO,8166,VIVAR,56,N,<NA>,<NA>
33,9010,40004,UAC,UAC-AT CAN FIS E DIG,8166,VIVAR,149,N,<NA>,<NA>
34,9968,40066,UAN,UAN-IA. ANALITICA,8033,VINET,205,S,0.9,0.43
35,9720,43773,ASG,ASG,8468,VIGOV,70,N,<NA>,<NA>
36,9262,43795,GERAT,GERAT-REDE ATACADO,8069,VIPAT,54,N,<NA>,<NA>
37,9240,43834,UEG,UEG-ESTR. GOVERNO,8468,VIGOV,133,N,<NA>,<NA>
38,9045,44167,CRM,CRM-INDUCAO DIGITAL,8166,VIVAR,43,N,<NA>,<NA>
39,9078,44168,INOVA,PROG. INOVA VAREJO,8166,VIVAR,58,N,<NA>,<NA>

In [328]:
exercicio10['IC_ATGT_IN_PRMO_SMT'] = exercicio10['IC_ATGT_IN_PRMO_SMT'].astype(float)
exercicio10['IC_ATGT_IN_SGDO_SMT'] = exercicio10['IC_ATGT_IN_SGDO_SMT'].astype(float)

In [329]:
exercicio10 = exercicio10.head(40)

In [330]:
ex7 = exercicio7.copy()
ex7.dropna(inplace=True)

In [331]:
selecao = list(exercicio7['CD_UOR'])
exercicio10 = exercicio10[exercicio10['CD_UOR'].isin(selecao)]
exercicio10.info()
exercicio10

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37 entries, 0 to 39
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CD_DEPE_UOR          37 non-null     Int64
 1   CD_UOR               37 non-null     Int64
 2   SG_UOR               37 non-null     object
 3   NM_UOR_RDZ           37 non-null     object
 4   CD_DEPE_VICE_PRSA    37 non-null     Int64
 5   SG_VICE_PRSA         37 non-null     object
 6   QT_TTL_FUN_UOR       37 non-null     Int64
 7   IN_UOR_ALVO_ANL      37 non-null     object
 8   IC_ATGT_IN_PRMO_SMT  8 non-null      float64
 9   IC_ATGT_IN_SGDO_SMT  8 non-null      float64
dtypes: Int64(4), float64(2), object(4)
memory usage: 2.7+ KB

,CD_DEPE_UOR,CD_UOR,SG_UOR,NM_UOR_RDZ,CD_DEPE_VICE_PRSA,SG_VICE_PRSA,QT_TTL_FUN_UOR,IN_UOR_ALVO_ANL,IC_ATGT_IN_PRMO_SMT,IC_ATGT_IN_SGDO_SMT
0,8550,5108,DIRCO,DIRCO-CONTROLADORIA,8063,VIFIN,129,N,NaN,NaN
1,8556,5114,DICRE,DICRE/RISCO CREDITO,9597,VICRI,173,S,0.87,0.36
2,8557,5115,DIFIN,DIFIN-FINANCAS,8063,VIFIN,154,N,NaN,NaN
3,8558,5116,DISEC,DISEC-SUP INFR PATR,8010,VICOR,198,N,NaN,NaN
4,8559,5117,DIPES,DIPES-CULT E PESSOAS,8010,VICOR,235,S,0.94,0.43
5,8590,5148,DICOR,DICOR-CORPORATE BANK,8069,VIPAT,72,N,NaN,NaN
6,8592,5150,DIVAR,DIVAR-COMERCIAL VAR,8166,VIVAR,72,N,NaN,NaN
7,8593,5151,DIGOV,DIGOV-GOVERNO,8468,VIGOV,83,S,0.90,0.46
8,8595,5153,UCR,UCR-COBRANCA E REEST,8010,VICOR,101,N,NaN,NaN
9,8596,5154,DIRAG,DIRAG-AGRONEGOCIOS,8042,VIPAG,156,N,NaN,NaN
10,8627,5185,URI,URI-REL.INVESTIDORES,8063,VIFIN,29,N,NaN,NaN
11,8948,5536,OUVID,OUVIDORIA,8010,VICOR,26,N,NaN,NaN
12,9568,6107,COGER,COGER-CONTADORIA,8063,VIFIN,196,N,NaN,NaN
13,9572,6109,DICOI,DICOI-CONTR.INTERNOS,9597,VICRI,54,N,NaN,NaN
14,9599,6135,DIRIS,DIRIS-GESTAO RISCOS,9597,VICRI,181,N,NaN,NaN
15,9600,6136,DIOPE,DIOPE-OPERACOES,8010,VICOR,292,N,NaN,NaN
16,9867,6390,CIB,CIB-CORP INVEST BANK,8069,VIPAT,81,N,NaN,NaN
17,9879,6399,MPE,CLIENTES-MPE,8166,VIVAR,64,N,NaN,NaN
18,9903,6411,DITEC,DITEC-TECNOLOGIA,8033,VINET,137,N,NaN,NaN
19,9882,7513,UPB,UPB-PRIVATE BANK,8069,VIPAT,75,N,NaN,NaN
20,9880,7670,DIMEP,DIMEP-MEIOS PAGAMEN.,8063,VIFIN,174,S,0.94,0.40
21,9973,7671,DIEMP,DIEMP-EMPREST.FINANC,8042,VIPAG,197,S,0.89,0.42
22,9974,7672,DISEG,DIPRO-SEGURIDADE,8033,VINET,76,N,NaN,NaN
23,9548,8465,USD,USD-SEG DIGITAL INF.,8033,VINET,240,N,NaN,NaN
24,8008,9598,DIREC,DIREC-CLI. VAR. PF,8166,VIVAR,110,S,0.90,0.42
25,9510,36570,UGE,UPE-PART.PARC.ESTRAT,8063,VIFIN,95,N,NaN,NaN
28,8896,38668,USI,USI-SEGUR. INST.,9597,VICRI,194,N,NaN,NaN
29,9897,38852,DINED,DINED-NEG. DIGITAIS,8033,VINET,96,N,NaN,NaN
30,9797,39660,UCI,UCI-CAPTACAO INVEST.,8069,VIPAT,64,S,0.92,0.45
31,9958,39763,UNI,UNI-NEG. INTERNAC.,8069,VIPAT,66,N,NaN,NaN
32,9220,40003,DIRAV,DIRAV-ALTO VAREJO,8166,VIVAR,56,N,NaN,NaN
33,9010,40004,UAC,UAC-AT CAN FIS E DIG,8166,VIVAR,149,N,NaN,NaN
34,9968,40066,UAN,UAN-IA. ANALITICA,8033,VINET,205,S,0.90,0.43
35,9720,43773,ASG,ASG,8468,VIGOV,70,N,NaN,NaN
37,9240,43834,UEG,UEG-ESTR. GOVERNO,8468,VIGOV,133,N,NaN,NaN
38,9045,44167,CRM,CRM-INDUCAO DIGITAL,8166,VIVAR,43,N,NaN,NaN
39,9078,44168,INOVA,PROG. INOVA VAREJO,8166,VIVAR,58,N,NaN,NaN

In [332]:
exercicio10a = sorted([8559, 8593, 9880, 8008, 9797, 9968])
exercicio10a

[8008, 8559, 8593, 9797, 9880, 9968]

In [333]:
exercicio10b = 8556

In [334]:
exercicio10c = 9880

In [335]:
exercicio10d = 8008

In [336]:
exercicio10e = round(4 / 174, 2)
exercicio10e

0.02

# Boletim de soluções

In [337]:
# importar bibliotecas para geração dos artefatos
import pickle

In [338]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')
    
if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')
    
if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'exercicio7' in globals():
    print('DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio7.pkl','wb') as f:
        pickle.dump(exercicio7, f)
else:
    print('O exercício 7 não tem condições de ser avaliado.')

if 'exercicio8' in globals():
    print('DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio8.pkl','wb') as f:
        pickle.dump(exercicio8, f)
else:
    print('O exercício 8 não tem condições de ser avaliado.')

if 'exercicio9' in globals():
    print('DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio9.pkl','wb') as f:
        pickle.dump(exercicio9, f)
else:
    print('O exercício 9 não tem condições de ser avaliado.')


exercicio10_variaveis = {}

exercicio10_variaveis['variavel'] = []
exercicio10_variaveis['valor'] = []
if 'exercicio10a' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10a')
    exercicio10_variaveis['valor'].append(exercicio10a)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10b')
    exercicio10_variaveis['valor'].append(exercicio10b)
if 'exercicio10b' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10c')
    exercicio10_variaveis['valor'].append(exercicio10c)
if 'exercicio10d' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10d')
    exercicio10_variaveis['valor'].append(exercicio10d)
if 'exercicio10e' in globals():
    exercicio10_variaveis['variavel'].append('exercicio10e')
    exercicio10_variaveis['valor'].append(exercicio10e)

exercicio10_variaveis = pd.DataFrame(exercicio10_variaveis)
if exercicio10_variaveis.shape[0] == 5 and 'exercicio10' in globals():
    print('DataFrame exercicio10 localizado. Ele poderá ser enviado para validação.')
    print('Variáveis exercicio10a, exercicio10b, exercicio10c, exercicio10d e exercicio10e localizadas. Elas poderão ser enviadas para validação.')
    with open(f'{chaveF}_exercicio10_variaveis.pkl','wb') as f:
        pickle.dump(exercicio10_variaveis, f)
    with open(f'{chaveF}_exercicio10.pkl','wb') as f:
        pickle.dump(exercicio10, f)

else:
    print('O exercício 10 não tem condições de ser avaliado.')

DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio7 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio8 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio9 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio10 localizado. Ele poderá ser enviado para validação.
Variáveis exercicio10a, exercicio10b, exercicio10c, exercicio10d e exercicio10e localizadas. Elas poderão ser enviadas para validação.